n8n/backup/workflows/-ZoEuDUppvhbtc0iF.json
{"createdAt":"2025-03-31T12:21:40.047Z","updatedAt":"2025-03-31T17:54:36.000Z","id":"ZoEuDUppvhbtc0iF","name":"CHATBOOT-GITHUB-https://lawebdelcolchon.github.io/Website_Bot/","active":true,"nodes":[{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-40,-80],"id":"9fd4759d-a8d4-4821-b8ed-4cb2a9445550","name":"When chat message received","webhookId":"b161ac1e-1054-4ceb-b39f-f58611f2e7b0"},{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"=Inicia una bienvenida\n## Rol\nEres Pepito, un experto en colchones y descanso de cama en la ciudad Real de Santa Cruz de Mudela.\n\n##Tarea\ndebe responder las preguntas o comentarios del uruario, siempre consulta la informaci贸n de Google Sheet para dar una respuesta y verificar las pomociones existentes, disponibilidad, precios, nombre de productos, contesta de manera amigable y utiliza algunos emojis en ciertas ocaciones.\n\n## Saludo inicial\n\"隆Hola!  Soy Pepito de La Web del Colch贸n. 驴Con qui茅n tengo el gusto?\"\n\n## Identificar la necesidad del cliente\n\"Cu茅ntame, 驴en qu茅 puedo ayudarte hoy?\"\n\n## Recolecci贸n de informaci贸n para recomendar un colch贸n\n\"Para recomendarte el mejor colch贸n, necesito un poco m谩s de informaci贸n. Responde a estas preguntas y te ayudar茅 a encontrar el perfecto:\"\n\n驴Qu茅 tipo de descanso prefieres (firme, suave, medio)?\n\n驴Cu谩l es tu presupuesto aproximado?\n\n驴Para qu茅 tama帽o de cama lo necesitas?\n\n驴Tienes alguna preferencia en cuanto a materiales (espuma, l谩tex, resortes, etc.)?\n\n## Proporcionar informaci贸n relevante\nResponde a sus preguntas con datos precisos.\n\n## Destaca beneficios de los productos seg煤n la lista en Google Sheets.\n\n## Recomienda opciones basadas en las respuestas del cliente.\n\n## Intenta llevar la conversaci贸n hacia la compra de manera natural.\n\n## Aclarar dudas y resaltar beneficios\nExplica caracter铆sticas clave del producto.\n\n## Resalta ventajas como durabilidad, ergonom铆a y garant铆a.\n\n## Ofrece comparaciones si el cliente tiene dudas entre varios modelos.\n\n## Verificar pago y ubicaci贸n\nPregunta c贸mo desea pagar.\n\n## Consulta su ubicaci贸n para coordinar la entrega.\n\n## Confirmar entrega o retiro\n\"驴Prefieres retiro en tienda o env铆o a domicilio?\"\n\n## Compartir ubicaci贸n de la tienda\nProporciona una referencia sin direcci贸n exacta.\n\n## Solicitar datos de contacto\nNombre\n\nTel茅fono\n\nCorreo electr贸nico\n\n## Confirmar pago\n\"Una vez realizado el pago, por favor adjunta una captura de pago para procesar tu pedido.\"\n\n## Agradecer la compra\n\"隆Gracias por tu compra!  Estamos seguros de que amar谩s tu nuevo colch贸n.\"\n\n## Confirmaci贸n de seguimiento\n\"Te enviaremos un correo con la facturaci贸n y el seguimiento de tu pedido.\"\n\n## Cierre y consulta final\n\"驴Puedo ayudarte en algo m谩s?\" "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[660,0],"id":"19af7d7e-80b5-4b15-b872-1cd608fa8faf","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[520,220],"id":"28f8dad2-fd89-4405-88d3-d14df8c6cca3","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"gxvwrbUES5rUcbiQ","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $json.sessionId }}","contextWindowLength":3000},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[720,260],"id":"19675af6-a460-4561-b330-f31d5f2e5ec2","name":"Window Buffer Memory"},{"parameters":{"name":"Datos_de_productos","description":"Consula los datos de la tabla de google sheet segun nombre de producto, material, color, medidas y precios","workflowId":{"__rl":true,"value":"BUSVnSHQk5ZnCMum","mode":"list","cachedResultName":"CONSULTA DE PRODUCTOS LWDC"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Productos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Productos', ``, 'string') }}","Precio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Precio', ``, 'string') }}","Medidas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Medidas', ``, 'number') }}"},"matchingColumns":[],"schema":[{"id":"Productos","displayName":"Productos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Medidas","displayName":"Medidas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[920,380],"id":"f6eb553c-7a2e-4bd9-b68d-312abba78d49","name":"ANALIZAR DATOS"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1669655500,"mode":"list","cachedResultName":"Historial de Chat-bot-LWDC","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit#gid=1669655500"},"columns":{"mappingMode":"defineBelow","value":{"Mensaje":"={{ $('When chat message received').item.json.chatInput }}","Nombre":"={{ $('When chat message received').item.json.sessionId }}","Fecha":"={{ $json.currentDate }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Respuestas IA","displayName":"Respuestas IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MODO","displayName":"MODO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[840,-360],"id":"0e5cfdd4-5627-4843-8453-c408a12a2cf5","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"xnYgm7FtRcC3YeQI","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[180,-80],"id":"ee479b1a-cfb3-494f-84bd-b6c8c0be59dc","name":"Date & Time"},{"parameters":{"assignments":{"assignments":[{"id":"4f7d6c4d-5cc5-461c-a57a-53f3c3c2c664","name":"nombre","value":"={{ $('When chat message received').item.json.chatInput }}","type":"string"},{"id":"25acd417-8767-435e-b723-cc984327c7b1","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,0],"id":"6ea617ae-e8ab-4fa6-b74d-e97cca197322","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1380,-420],"id":"8a253fa0-398d-4092-b1ea-f26e95ab1f6c","name":"Respond to Webhook","disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1669655500,"mode":"list","cachedResultName":"Historial de Chat-bot-LWDC","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit#gid=1669655500"},"columns":{"mappingMode":"defineBelow","value":{"Mensaje":"={{ $('When chat message received').item.json.chatInput }}","Nombre":"={{ $('When chat message received').item.json.sessionId }}","Fecha":"={{ $json.currentDate }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Respuestas IA","displayName":"Respuestas IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MODO","displayName":"MODO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2120,160],"id":"1eac82ae-ed4a-4e52-8405-40f63812f510","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"xnYgm7FtRcC3YeQI","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1320,120],"id":"4d94830c-c5e0-4cbd-af3a-8a2b16cfa676","name":"Date & Time1"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Date & Time","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"ANALIZAR DATOS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Date & Time":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e673c405-7b21-4b90-b006-70d52a00920b","triggerCount":2,"tags":[]}