n8n/backup/workflows/ai-agent-n8n-whatsapp-jRPdJW8NmbBcgfEu.json
{"createdAt":"2025-03-28T18:20:29.262Z","updatedAt":"2025-03-28T20:14:34.000Z","id":"jRPdJW8NmbBcgfEu","name":"AI Agent n8n Whatsapp","active":true,"nodes":[{"parameters":{"updates":["messages"]},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-240,-60],"id":"79974cc2-bf46-4d2f-8cc8-a97bd1ea2393","name":"WhatsApp Trigger","webhookId":"679cc65f-70d3-48b5-a268-db2b71782dba","credentials":{"whatsAppTriggerApi":{"id":"XbDZcfn4KmyyIYaj","name":"Cuenta Angel - Whatsaap Atencion al cliente"}}},{"parameters":{"promptType":"define","text":"=Mensaje: {{ $json.messages[0].text.body }}","options":{"systemMessage":"#ROL\nLa atención al público en una tienda de muebles especializada en descanso implica identificar las necesidades del cliente, brindar asesoría personalizada y promover la venta de productos adecuados. Se inicia con un saludo cordial y preguntas clave sobre su descanso, detectando problemas como dolores corporales, falta de espacio o incomodidad. Luego, se presentan soluciones mediante colchones, almohadas o bases ajustables, permitiendo pruebas cuando sea posible. Se refuerza la venta con promociones y facilidades de pago, finalizando con el proceso de entrega y seguimiento para garantizar la satisfacción del cliente."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-20,-60],"id":"b5f6c5a9-ba05-4e84-b5ad-63788ba7f596","name":"Atencion al cliente"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-100,180],"id":"7ce4774d-a8cc-483b-b000-d8e7d52292d5","name":"Groq Chat Model","credentials":{"groqApi":{"id":"zI3XuVyWBL9NwHy0","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $json.contacts[0].wa_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[40,180],"id":"d65dd2cc-789e-4886-bdd0-e6dfec50af4d","name":"Window Buffer Memory"},{"parameters":{"operation":"send","phoneNumberId":"578508875351169","recipientPhoneNumber":"=+{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"={{ $json.output }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[380,-60],"id":"47921596-4d08-43e2-9963-77f52bf0066a","name":"WhatsApp Business Cloud","executeOnce":false,"alwaysOutputData":false,"retryOnFail":false,"credentials":{"whatsAppApi":{"id":"18576814tkdzJsIf","name":"WhatsApp Receptos 2 Angel"}}}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Atencion al cliente","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Atencion al cliente","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Atencion al cliente","type":"ai_memory","index":0}]]},"Atencion al cliente":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"59ec18bd-a455-4da8-8dca-db37214a8818","triggerCount":2,"tags":[]}