n8n/backup/workflows/automatización-whatsaap-Km57TfNnDgodcG1B.json
{"createdAt":"2025-03-25T16:32:29.612Z","updatedAt":"2025-03-26T18:35:04.000Z","id":"Km57TfNnDgodcG1B","name":"Automatización Whatsaap","active":false,"nodes":[{"parameters":{"updates":["messages"]},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[0,0],"id":"9e47c0dc-e4b3-46cf-8c4b-155279b26b7c","name":"WhatsApp Trigger","webhookId":"085a9efa-27f8-4c88-8acf-f509b9b596b3","credentials":{"whatsAppTriggerApi":{"id":"4i3a2dB5cCRFDyBM","name":"WhatsApp OAuth account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[720,0],"id":"7d681b2e-0eef-4c18-9efa-455e6da6557b","name":"AI Agent"},{"parameters":{"operation":"addToDate","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[260,0],"id":"4e961d87-4af3-4191-9ce8-e4168404695f","name":"Date & Time"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[620,260],"id":"96d4ec31-f969-4ed8-99d8-024c551bb9b4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"pFKc02yvE77S5Bd4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,240],"id":"d1c66686-7468-4cf6-b198-d87e20eb82f4","name":"Code"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[780,260],"id":"aab50a6a-c175-4a0a-9b54-181a1bac93de","name":"Window Buffer Memory"},{"parameters":{"operation":"send","phoneNumberId":"612097765317610","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1360,0],"id":"0e7b413b-f1cc-47be-88b2-c81a12006825","name":"WhatsApp Business Cloud","credentials":{"whatsAppApi":{"id":"jm4Ms7BXHJfXz5Gz","name":"WhatsApp account"}}}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Date & Time":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Date & Time":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"a952778e-e8bd-438a-b1e0-72bd16bee609","triggerCount":0,"tags":[]}