n8n/backup/workflows/backup-workflows-mjPoYEIVC90KUjUr.json
{"createdAt":"2025-04-02T16:26:54.265Z","updatedAt":"2025-04-02T16:36:20.000Z","id":"mjPoYEIVC90KUjUr","name":"Backup workflows","active":false,"nodes":[{"parameters":{},"id":"bcded82b-c050-4b95-894f-0d267fe4c6ba","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-420,280]},{"parameters":{"options":{}},"id":"64813728-5887-4ac0-a330-a7b425415dfb","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-220,280]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"5532d956-8713-4859-9ef2-44f4ca88631f","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-20,280]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"872184fc-7103-401c-9e0d-66ee989fafba","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[180,280]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/lawebdelcolchon/Respaldo_n8n/tree/main","mode":"url"},"repository":{"__rl":true,"value":"Respaldo_n8n","mode":"list","cachedResultName":"Respaldo_n8n","cachedResultUrl":"https://github.com/lawebdelcolchon/Respaldo_n8n"},"filePath":"="},"id":"7e601a9d-cc9c-47dc-91cc-5541cff3e745","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[380,280],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"YUEqxBRRa6ECAiDf","name":"GitHub Gmultiusuarios1"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"ea1a4990-2da4-4830-92a0-334a5f31e499","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[580,280]},{"parameters":{"filters":{},"requestOptions":{}},"id":"ec1f0ecd-2636-4573-a27c-36f833e6704a","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[780,280],"credentials":{"n8nApi":{"id":"nGcvuE0x2mYtHCqV","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"0867e6a1-be0f-49f3-aa5b-cfcdeb5d1e21","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[980,280]},{"parameters":{"batchSize":1,"options":{}},"id":"09982592-d74b-46dc-9c20-b2554b1d9cc8","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1220,280]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"0f2d86cc-3a29-4dda-9aa8-08a8b8cc7cae","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1460,200]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lawebdelcolchon/Respaldo_n8n/tree/main","mode":"url"},"repository":{"__rl":true,"value":"Respaldo_n8n","mode":"list","cachedResultName":"Respaldo_n8n","cachedResultUrl":"https://github.com/lawebdelcolchon/Respaldo_n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"40ed7ba8-893d-42d6-868e-a9d2750841ca","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1680,-20],"credentials":{"githubOAuth2Api":{"id":"YUEqxBRRa6ECAiDf","name":"GitHub Gmultiusuarios1"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/lawebdelcolchon/Respaldo_n8n/tree/main","mode":"url"},"repository":{"__rl":true,"value":"Respaldo_n8n","mode":"list","cachedResultName":"Respaldo_n8n","cachedResultUrl":"https://github.com/lawebdelcolchon/Respaldo_n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"ef240f1c-d086-4ea2-9344-02ac4f803697","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1680,400],"credentials":{"githubOAuth2Api":{"id":"YUEqxBRRa6ECAiDf","name":"GitHub Gmultiusuarios1"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"49c4c287-7039-4bfa-bd47-9c64935322e3","triggerCount":0,"tags":[]}