n8n/backup/workflows/bot-telegram-modoprueba_bot-Wn4C2qLUHHjv6Bro.json
{"createdAt":"2025-03-31T17:47:07.662Z","updatedAt":"2025-04-01T14:26:34.000Z","id":"Wn4C2qLUHHjv6Bro","name":"BOT TELEGRAM Modoprueba_bot","active":false,"nodes":[{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","hasOutputParser":true,"options":{"humanMessage":"={{ $json.message.text }}","systemMessage":"=# Datos importantes\n## Fecha y hora de hoy: {{ $now }}\n## Todos los precios llevan IVA incluido.\nI\n## Instrucciones a seguir:\nA Test ston\nEres un asistente personal experto en contabilidad y asesoría jurídica en España con más de 25 años de experiencia. El usuario te paga más de 10.000€ al mes para que hagas tu trabajo de forma impecable siguiendo las siguientes instrucciones:\n# Si el usuario te pide información sobre su situación financiera, debes usar Google Sheets para crear la información en formato que sea legible en telegram también tienes acceso a la tool Calculadora para hacer operaciones matemáticas\n# Si el usuario te pide añadir, eliminar o actualizar nuevos gastos o ingresos también tienes acceso a las tool crea-actualiza-ingresos y crea- actualiza-gastos. El importe lo debes añadir en euros por ejemplo 330€ y la fecha en formato dd/mm/yyyy-\n# Una vez al mes, el usuario te pedirá que envíes un resumen por email de gastos e ingresos a info@lawebdelcolchon.com con toda la información. Haz un resumen claro y ejecutivo nada de parrafadas raras ni de enviar toda la lista de gaastos e ingresos SOLO EL RESUMEN bien claro sin añadir descripciones ni importe de los gastos o ingresos. Mucho ojo al enviar la información y no te salgas del mes en curso. PARA HACER EL RESUMEN USA LA TOOL CALCULADORA. El email lo puedes generar en HTML.\n# Si el usuario te pide información sobre su agenda, puedes consultar el calendario en la tool de google calendar y devolver en formato whatsapp con algún emoji y sin añadir muchos elementos como \"*\" la información de los próximos eventos y el enlace para acceder. La consulta es a 25 horas por lo que \"fechahoramasundia\" es la fecha actual más 1 día.\n# Si el usuario te pide que añadas un recordatorio o una cita, debes solicitar fecha y hora de inicio y que duración tendrá la cita. Para crearla puedes usar también la tool del calendario\n# Si el usuario te pide que actualices un recordatorio o una cita, debes solicitar fecha y hora de inicio y que duración tendrá la cita. Para actualizarla puedes usar también la tool actualizar-evento ten en cuenta que está esperando el id del evento por lo que debes primero buscar el evento que queremos actualizar"}},"id":"d82360d6-c860-49bd-abbb-60d6a84793d9","name":"Consultas con Gemini","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[300,80]},{"parameters":{"modelName":"models/gemini-1.5-flash-002","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,360],"id":"f25e5b0a-7655-4c76-9f48-b21e812a9fe7","name":"Google Gemini Chat Model1","notesInFlow":false,"credentials":{"googlePalmApi":{"id":"pFKc02yvE77S5Bd4","name":"Google Gemini(PaLM) Api account"}},"notes":"eres un vendedor de muebles, cabeceros y productos de descanso, escribe siempre en español, dirige al cliente en modo de consulta  donde puede tener mal descanso y promueve la venta de nuestros productos"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-400,80],"id":"3d2cb8f5-b60e-477a-ab4e-8f728d0e8b86","name":"Telegram Trigger","webhookId":"9e55cb66-b39b-4793-beab-856be901d7ec","credentials":{"telegramApi":{"id":"TFMJwIzFjAZPkcty","name":"Modoprueba_bot"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"ggeg","contextWindowLength":3000},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[220,440],"id":"62f6e306-44c8-403a-b47c-7fbf1d83108e","name":"Simple Memory","notesInFlow":true,"notes":"respuesta simple"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,80],"id":"1f62b898-ae23-47a8-9b38-4595f9c9dc97","name":"Telegram1","webhookId":"02150637-4140-4d86-8eea-1885513e6d39","credentials":{"telegramApi":{"id":"TFMJwIzFjAZPkcty","name":"Modoprueba_bot"}}},{"parameters":{"name":"Bot_Modo_Prueba","description":"Consula los datos de la tabla de google sheet segun nombre de producto, material, color, medidas y precios","workflowId":{"__rl":true,"value":"BUSVnSHQk5ZnCMum","mode":"list","cachedResultName":"CONSULTA DE PRODUCTOS LWDC"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Productos":"={{ $('Telegram Trigger').item.json.message.text }}","Medidas":"={{ $('Telegram Trigger').item.json.message.text }}"},"matchingColumns":[],"schema":[{"id":"Productos","displayName":"Productos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":true},{"id":"Medidas","displayName":"Medidas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[560,400],"id":"4f759da0-0490-4c6c-a673-e468db3e595d","name":"ANALISIS BOT MODO PRUEBA"},{"parameters":{"operation":"formatDate","date":"={{$now}}","format":"custom","customFormat":"dd-MM-yyyy","outputFieldName":"={{$now}}","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-180,80],"id":"78c51543-74b9-4ac6-ad10-69318dae34a0","name":"Date & Time","alwaysOutputData":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1koSIsp2XTnyaEEFK6YDQ98mDW9EE7Q2tdtBPHhEIvic/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Mensajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1koSIsp2XTnyaEEFK6YDQ98mDW9EE7Q2tdtBPHhEIvic/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Telegram Trigger').item.json.update_id }}","Fecha":"={{ $json['2025-03-31T20:51:59.515+02:00'] }}","Aplicación":"Modoprueba_bot","Mensajes":"={{ $('Telegram Trigger').item.json.message.text }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensajes","displayName":"Mensajes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Aplicación","displayName":"Aplicación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[280,-280],"id":"25593fa3-e402-4a78-9cad-a9924dd7deb4","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"xnYgm7FtRcC3YeQI","name":"Google Sheets account 2"}}}],"connections":{"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Consultas con Gemini","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Consultas con Gemini":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Consultas con Gemini","type":"ai_memory","index":0}]]},"ANALISIS BOT MODO PRUEBA":{"ai_tool":[[{"node":"Consultas con Gemini","type":"ai_tool","index":0}]]},"Date & Time":{"main":[[{"node":"Consultas con Gemini","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Madrid","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","executionOrder":"v0"},"staticData":null,"meta":{"templateId":"3320","templateCredsSetupCompleted":true},"pinData":{},"versionId":"c656ae03-3573-449b-928a-5d67d228cd59","triggerCount":1,"tags":[]}