n8n/backup/workflows/bot-telegram-lwdc_bot-9HzuYAhzhanoA2I1.json
{"createdAt":"2025-03-27T15:58:26.741Z","updatedAt":"2025-04-01T14:25:27.000Z","id":"9HzuYAhzhanoA2I1","name":"BOT TELEGRAM LwDC_bot","active":false,"nodes":[{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.message.chat.first_name }}","hasOutputParser":true,"options":{"humanMessage":"={{ $json.message.text }}","systemMessage":"=Inicia una bienvenida\n## Rol\nEres Pepito, un experto en colchones y descanso de cama en la ciudad Real de Santa Cruz de Mudela.\n\n##Tarea\ndebe responder las preguntas o comentarios del uruario, siempre consulta la informaci贸n de Google Sheet para dar una respuesta y verificar las pomociones existentes, disponibilidad, precios, nombre de productos, contesta de manera amigable y utiliza algunos emojis en ciertas ocaciones.\n\n## Saludo inicial\n\"隆Hola!  Soy Pepito de La Web del Colch贸n. 驴Con qui茅n tengo el gusto?\"\n\n## Identificar la necesidad del cliente\n\"Cu茅ntame, 驴en qu茅 puedo ayudarte hoy?\"\n\n## Recolecci贸n de informaci贸n para recomendar un colch贸n\n\"Para recomendarte el mejor colch贸n, necesito un poco m谩s de informaci贸n. Responde a estas preguntas y te ayudar茅 a encontrar el perfecto:\"\n\n驴Qu茅 tipo de descanso prefieres (firme, suave, medio)?\n\n驴Cu谩l es tu presupuesto aproximado?\n\n驴Para qu茅 tama帽o de cama lo necesitas?\n\n驴Tienes alguna preferencia en cuanto a materiales (espuma, l谩tex, resortes, etc.)?\n\n## Proporcionar informaci贸n relevante\nResponde a sus preguntas con datos precisos.\n\n## Destaca beneficios de los productos seg煤n la lista en Google Sheets.\n\n## Recomienda opciones basadas en las respuestas del cliente.\n\n## Intenta llevar la conversaci贸n hacia la compra de manera natural.\n\n## Aclarar dudas y resaltar beneficios\nExplica caracter铆sticas clave del producto.\n\n## Resalta ventajas como durabilidad, ergonom铆a y garant铆a.\n\n## Ofrece comparaciones si el cliente tiene dudas entre varios modelos.\n\n## Verificar pago y ubicaci贸n\nPregunta c贸mo desea pagar.\n\n## Consulta su ubicaci贸n para coordinar la entrega.\n\n## Confirmar entrega o retiro\n\"驴Prefieres retiro en tienda o env铆o a domicilio?\"\n\n## Compartir ubicaci贸n de la tienda\nProporciona una referencia sin direcci贸n exacta.\n\n## Solicitar datos de contacto\nNombre\n\nTel茅fono\n\nCorreo electr贸nico\n\n## Confirmar pago\n\"Una vez realizado el pago, por favor adjunta una captura de pago para procesar tu pedido.\"\n\n## Agradecer la compra\n\"隆Gracias por tu compra!  Estamos seguros de que amar谩s tu nuevo colch贸n.\"\n\n## Confirmaci贸n de seguimiento\n\"Te enviaremos un correo con la facturaci贸n y el seguimiento de tu pedido.\"\n\n## Cierre y consulta final\n\"驴Puedo ayudarte en algo m谩s?\" "}},"id":"8d10e2c6-f423-4ca5-b8e7-0b146ffacc12","name":"Consultas con Gemini","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[300,80]},{"parameters":{"modelName":"models/gemini-1.5-flash-002","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[200,320],"id":"aef3f258-03d4-435a-9624-671b60e9be18","name":"Google Gemini Chat Model1","notesInFlow":false,"credentials":{"googlePalmApi":{"id":"pFKc02yvE77S5Bd4","name":"Google Gemini(PaLM) Api account"}},"notes":"eres un vendedor de muebles, cabeceros y productos de descanso, escribe siempre en espa帽ol, dirige al cliente en modo de consulta  donde puede tener mal descanso y promueve la venta de nuestros productos"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-160,120],"id":"8fd58389-e9ae-4bb4-bbb8-b5af757772f2","name":"Telegram Trigger","webhookId":"1962236c-90fa-41a5-a15e-5d7d07b83980","credentials":{"telegramApi":{"id":"skFJ7yYE2Wajk3Fr","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"ggeg","contextWindowLength":3000},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[360,360],"id":"faefaec4-1c17-4284-981b-5ac4f6cbe28b","name":"Simple Memory","notesInFlow":true,"notes":"respuesta simple"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,120],"id":"586a5905-7d8f-4cf3-9c09-fac303932945","name":"Telegram1","webhookId":"f41125f4-d6a7-48ee-9b22-5c38afce2f6b","credentials":{"telegramApi":{"id":"skFJ7yYE2Wajk3Fr","name":"Telegram account"}}},{"parameters":{"name":"Datos_de_productos","description":"Consula los datos de la tabla de google sheet segun nombre de producto, material, color, medidas y precios","workflowId":{"__rl":true,"value":"BUSVnSHQk5ZnCMum","mode":"list","cachedResultName":"CONSULTA DE PRODUCTOS LWDC"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Productos":"={{ $fromAI('Productos', ``, 'string') }}","Precio":"={{ $fromAI('Precio', ``, 'string') }}","Medidas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Medidas', ``, 'number') }}"},"matchingColumns":[],"schema":[{"id":"Productos","displayName":"Productos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Medidas","displayName":"Medidas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[560,400],"id":"472173c8-9235-4b4a-9f1b-010f6043553b","name":"ANALIZAR DATOS","disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1koSIsp2XTnyaEEFK6YDQ98mDW9EE7Q2tdtBPHhEIvic/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Mensajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1koSIsp2XTnyaEEFK6YDQ98mDW9EE7Q2tdtBPHhEIvic/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Telegram Trigger').item.json.update_id }}","Fecha":"={{ $json['2025-03-31T20:51:59.515+02:00'] }}","Aplicaci贸n":"Modoprueba_bot","Mensajes":"={{ $('Telegram Trigger').item.json.message.text }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensajes","displayName":"Mensajes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Aplicaci贸n","displayName":"Aplicaci贸n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[380,-180],"id":"289eb025-4cdf-4b32-a9f3-69e95c338505","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"xnYgm7FtRcC3YeQI","name":"Google Sheets account 2"}}},{"parameters":{"operation":"roundDate","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[120,-120],"id":"9ae8fb76-02b7-47a8-a10a-1c47819534a5","name":"Date & Time"}],"connections":{"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Consultas con Gemini","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Consultas con Gemini","type":"main","index":0},{"node":"Date & Time","type":"main","index":0}]]},"Consultas con Gemini":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Consultas con Gemini","type":"ai_memory","index":0}]]},"ANALIZAR DATOS":{"ai_tool":[[{"node":"Consultas con Gemini","type":"ai_tool","index":0}]]},"Date & Time":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"3320","templateCredsSetupCompleted":true},"pinData":{},"versionId":"1fe73c62-40e5-4b7c-bba5-f0f47177c90b","triggerCount":1,"tags":[]}