n8n/backup/workflows/bot-whatsapp---en-desarrollo-cTzCP5uupWHs9qf0.json
{"createdAt":"2025-03-28T11:15:43.634Z","updatedAt":"2025-03-28T11:29:11.000Z","id":"cTzCP5uupWHs9qf0","name":"BOT Whatsapp - EN DESARROLLO","active":false,"nodes":[{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=hola,  {{ $json.message.chat.first_name }}","hasOutputParser":true,"options":{"humanMessage":"escribe siempre en español, eres un vendedor de cabeceros y colchones de la web del colchon consultas productos, precios y medidas junto a disponibilidad y estrategias de venta de www.lawebdelcolchon.es"}},"id":"5cabf977-9010-48d5-90b1-1e3a5909d4dd","name":"Consultas con Gemini","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[80,80]},{"parameters":{"modelName":"models/gemini-1.5-flash-002","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-20,320],"id":"0e0c53b3-ea8f-411f-a299-ffb956becb2c","name":"Google Gemini Chat Model1","notesInFlow":false,"credentials":{"googlePalmApi":{"id":"pFKc02yvE77S5Bd4","name":"Google Gemini(PaLM) Api account"}},"notes":"eres un vendedor de muebles, cabeceros y productos de descanso, escribe siempre en español, dirige al cliente en modo de consulta  donde puede tener mal descanso y promueve la venta de nuestros productos"},{"parameters":{"sessionIdType":"customKey","sessionKey":"ggeg"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[140,360],"id":"5327a84d-2598-4758-9c70-7439880e768c","name":"Simple Memory","notesInFlow":true,"notes":"respuesta simple"},{"parameters":{"updates":["messages"]},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-180,100],"id":"0e798cf8-a0f0-4bf4-8c90-19090e5e074d","name":"WhatsApp Trigger","webhookId":"23cc00de-54c1-42d6-97f5-5b0d042136f5","credentials":{"whatsAppTriggerApi":{"id":"4i3a2dB5cCRFDyBM","name":"WhatsApp OAuth account"}}},{"parameters":{"operation":"send","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[460,80],"id":"16687cdf-1a18-4864-ba0a-d061694f0ee1","name":"WhatsApp Business Cloud","credentials":{"whatsAppApi":{"id":"jm4Ms7BXHJfXz5Gz","name":"WhatsApp account"}},"disabled":true}],"connections":{"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Consultas con Gemini","type":"ai_languageModel","index":0}]]},"Consultas con Gemini":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Consultas con Gemini","type":"ai_memory","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Consultas con Gemini","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"3320","templateCredsSetupCompleted":true},"pinData":{},"versionId":"6b22f0ff-c297-4369-b2b9-e7f653d289e0","triggerCount":0,"tags":[]}