n8n/backup/workflows/chatbot-website-dirigir-el-cliente-a-venta-y-registro-Oc0iKqBrt6kwSDuZ.json
{"createdAt":"2025-03-29T13:04:19.392Z","updatedAt":"2025-03-29T15:32:14.000Z","id":"Oc0iKqBrt6kwSDuZ","name":"Chatbot-Website-DIRIGIR EL CLIENTE A VENTA Y REGISTRO","active":false,"nodes":[{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-180,-560],"id":"ffa82637-be9e-4cdb-a169-36a89a42ee59","name":"When chat message received","webhookId":"acade189-20f9-4729-a2c1-3533e9c06133"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{"safetySettings":{"values":[{"category":"HARM_CATEGORY_HATE_SPEECH"}]}}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[820,-360],"id":"acd29c7a-6d5b-4b42-9435-4d836c5ec541","name":"Google Gemini Chat Model","notesInFlow":true,"credentials":{"googlePalmApi":{"id":"pFKc02yvE77S5Bd4","name":"Google Gemini(PaLM) Api account"}},"notes":"respondes en espa単ol y eres un experto de ventas"},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $json.sessionId }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[880,-140],"id":"415c0e72-becd-4983-82ca-43797425740f","name":"Window Buffer Memory","notes":"expert for buy"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit?gid=1669655500#gid=1669655500","mode":"url"},"sheetName":{"__rl":true,"value":1669655500,"mode":"list","cachedResultName":"Historial de Chat-bot-LWDC","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit#gid=1669655500"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $json.output }}","Mensaje":"={{ $('When chat message received').item.json.chatInput }}","Respuestas IA":"={{ $json.output }}","Correo":"={{ $('CAPTACION DE DATOS DE CLIENTES CORREO').item.json.output }}"},"matchingColumns":["Nombre"],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Respuestas IA","displayName":"Respuestas IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MODO","displayName":"MODO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2040,-600],"id":"4bd2851e-8d9c-4235-8bd8-002e4b235f6b","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"xnYgm7FtRcC3YeQI","name":"Google Sheets account 2"}}},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{"safetySettings":{"values":[{"category":"HARM_CATEGORY_HATE_SPEECH"}]}}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1380,-100],"id":"e6fad1df-93ed-4cc3-904f-3620489d3d0d","name":"Google Gemini Chat Model1","notesInFlow":true,"credentials":{"googlePalmApi":{"id":"pFKc02yvE77S5Bd4","name":"Google Gemini(PaLM) Api account"}},"notes":"respondes en espa単ol y eres un experto de ventas"},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $json.sessionId }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1500,120],"id":"76cc5d69-25a0-4ea8-9447-aeafebc1b7fd","name":"Window Buffer Memory1","notes":"expert for buy"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=.","hasOutputParser":true,"options":{"humanMessage":"=\n{{ $json.chatInput }}","systemMessage":"verifica la informacion si te dio los datos segui atendiendolo, si esto no se cumple evade la consulta y finaliza las consultas"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1440,-500],"id":"6fbe3ea2-a6a8-4dec-99c8-962d8fd68d50","name":"CAPTACION DE DATOS DE CLIENTES1"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{"safetySettings":{"values":[{"category":"HARM_CATEGORY_HATE_SPEECH"}]}}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[260,-340],"id":"ebf5e441-0a04-40f5-b8b6-2c884b8e81d4","name":"Google Gemini Chat Model2","notesInFlow":true,"credentials":{"googlePalmApi":{"id":"pFKc02yvE77S5Bd4","name":"Google Gemini(PaLM) Api account"}},"notes":"respondes en espa単ol y eres un experto de ventas"},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $json.sessionId }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[380,-120],"id":"522a072f-026d-4a81-925d-250b240d296f","name":"Window Buffer Memory2","notes":"expert for buy"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Hola! indicame tu nombre","hasOutputParser":true,"options":{"humanMessage":"=\n{{ $json.chatInput }}","systemMessage":"Eres un agente de venta y le solicitas datos de contacto al cliente"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,-580],"id":"673b95e3-57dd-488a-847b-e9e2e6ff9efd","name":"CAPTACION DE DATOS DE CLIENTES NOMBRE"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=puedes indicarme tu correo electronico","hasOutputParser":true,"options":{"humanMessage":"=\n{{ $json.chatInput }}","systemMessage":"Eres un agente de venta y le solicitas datos de contacto al cliente"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[900,-600],"id":"0e18cd26-1874-4771-b7b7-83d1fc3dca0f","name":"CAPTACION DE DATOS DE CLIENTES CORREO"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{"safetySettings":{"values":[{"category":"HARM_CATEGORY_HATE_SPEECH"}]}}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1940,220],"id":"90bcd515-182e-4ad5-b078-70056a7ef826","name":"Google Gemini Chat Model3","notesInFlow":true,"credentials":{"googlePalmApi":{"id":"pFKc02yvE77S5Bd4","name":"Google Gemini(PaLM) Api account"}},"notes":"respondes en espa単ol y eres un experto de ventas"},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $json.sessionId }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2060,440],"id":"b3661364-45ad-40cd-bac0-ea3444bb0865","name":"Window Buffer Memory3","notes":"expert for buy"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=.","hasOutputParser":true,"options":{"humanMessage":"=\n{{ $json.chatInput }}","systemMessage":"verifica la informacion si te dio los datos segui atendiendolo, si esto no se cumple evade la consulta y finaliza las consultas"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2000,-180],"id":"73c0b307-a97e-43db-9e0b-0ea8cf3073eb","name":"REVISION DE PRODUCTOS"},{"parameters":{"mode":"retrieve-as-tool","toolName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}","toolDescription":"analiza productos en stok y precios","tableName":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table_Name', ``, 'string') }}","mode":"id"},"topK":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","options":{"metadata":{"metadataValues":[{"name":"={{ $('When chat message received').item.json.chatInput }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2260,80],"id":"d085d177-66b0-4b38-88d1-5757d47efae4","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"hK51ek29qkBN9y0z","name":"Supabase Gmultiusuarios1"}},"disabled":true}],"connections":{"When chat message received":{"main":[[{"node":"CAPTACION DE DATOS DE CLIENTES NOMBRE","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"CAPTACION DE DATOS DE CLIENTES CORREO","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"CAPTACION DE DATOS DE CLIENTES CORREO","type":"ai_memory","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"CAPTACION DE DATOS DE CLIENTES1","type":"ai_languageModel","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"CAPTACION DE DATOS DE CLIENTES1","type":"ai_memory","index":0}]]},"CAPTACION DE DATOS DE CLIENTES1":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"REVISION DE PRODUCTOS","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"CAPTACION DE DATOS DE CLIENTES NOMBRE","type":"ai_languageModel","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"CAPTACION DE DATOS DE CLIENTES NOMBRE","type":"ai_memory","index":0}]]},"CAPTACION DE DATOS DE CLIENTES CORREO":{"main":[[{"node":"CAPTACION DE DATOS DE CLIENTES1","type":"main","index":0}]]},"CAPTACION DE DATOS DE CLIENTES NOMBRE":{"main":[[{"node":"CAPTACION DE DATOS DE CLIENTES CORREO","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"REVISION DE PRODUCTOS","type":"ai_languageModel","index":0}]]},"Window Buffer Memory3":{"ai_memory":[[{"node":"REVISION DE PRODUCTOS","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"REVISION DE PRODUCTOS","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87f59d07-5325-43dd-be22-868399637945","triggerCount":2,"tags":[]}