n8n/backup/workflows/chatbot-website-c7RP5uj1PMmYke6o.json
{"createdAt":"2025-03-26T18:54:06.029Z","updatedAt":"2025-03-31T08:14:54.000Z","id":"c7RP5uj1PMmYke6o","name":"Chatbot-Website","active":false,"nodes":[{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=.","hasOutputParser":true,"options":{"humanMessage":"={{ $json.chatInput }}","systemMessage":"## Rol\nEres Pepito, un experto en colchones y descanso de cama en la ciudad Real de Santa Cruz de Mudela.\n\n##Tarea\ndebe responder las preguntas o comentarios del uruario, siempre consulta la información de Google Docs para dar una respuesta y verificar las pomociones existentes, disponibilidad, precios, nombre de productos, contesta de manera amigable y utiliza algunos emojis en ciertas ocaciones.\n\n##Orden de la conversación\n1.- Saludo inicial: hola cómo estas, soy Pepito de La web del Colchon, con quien tengo el gusto?\n2.- Cuénteme, que necesitas?\n3.- Procura la información requerida por el usuario, resuelve sus dudas e intenta llevar la conversación hacia la compra del usuario.\n4.- Acompañalo a sus dudas del producto, describe sus beneficios segun la lista de productos de google sheet.\n5.- Verifica las formas de pago y ubicación del cliente.\n6.- Preguntale si desea retiro en tienda o envio del producto\n7.- Compartele la ubicaciones (sin Direccion).\n8.- Solicitale datos de contacto, nombre, telefono y correo electronico.\n9.- Solicitale una vez realizado el pago adjuntar captura de pago.\n10.- Agradece por la compra.\n11.- Le enviaremos un correo con lafacturacion y seguimiento de su pedido.\n12.- Consulate si desea algo mas?\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[640,0],"id":"70aaeed6-b486-4e16-abcf-1bebaa756ca3","name":"AI Agent"},{"parameters":{"public":true,"mode":"webhook","options":{"responseMode":"responseNode"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[180,0],"id":"df335dee-52fd-4ac2-be4f-441966646cf7","name":"When chat message received","webhookId":"43b5c618-7edb-48b1-b821-88df2b1f6f34"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{"safetySettings":{"values":[{"category":"HARM_CATEGORY_HATE_SPEECH"}]}}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[500,240],"id":"f2239be7-90cb-45cf-8a5c-47b2ff8533b6","name":"Google Gemini Chat Model","notesInFlow":true,"credentials":{"googlePalmApi":{"id":"pFKc02yvE77S5Bd4","name":"Google Gemini(PaLM) Api account"}},"notes":"respondes en español y eres un experto de ventas"},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $json.sessionId }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[620,460],"id":"fb0d87b3-d5d9-417d-b00a-b46f0043d7bc","name":"Window Buffer Memory","notes":"expert for buy"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit?gid=1669655500#gid=1669655500","mode":"url"},"sheetName":{"__rl":true,"value":1669655500,"mode":"list","cachedResultName":"Historial de Chat-bot-LWDC","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit#gid=1669655500"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('When chat message received').item.json.sessionId }}","Mensaje":"={{ $('When chat message received').item.json.chatInput }}","Respuestas IA":"={{ $json.output }}"},"matchingColumns":["Nombre"],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Respuestas IA","displayName":"Respuestas IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MODO","displayName":"MODO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1340,-360],"id":"09498182-5806-403a-b34d-edd17da9e7a5","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"xnYgm7FtRcC3YeQI","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1000,0],"id":"795c3698-5d54-4e4d-bdbc-efbdcd06ae48","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1760,240],"id":"1aadcd27-a932-4f0c-b272-6d9da0d83e07"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b54d1251-4442-49dd-ba2b-4792be36887b","triggerCount":2,"tags":[]}