n8n/backup/workflows/chatbot---telegram---groq-NVXpQTPXZMWwoCiC.json
{"createdAt":"2025-03-28T12:15:10.357Z","updatedAt":"2025-04-02T10:31:43.000Z","id":"NVXpQTPXZMWwoCiC","name":"Chatbot - Telegram - Groq","active":false,"nodes":[{"parameters":{"model":"gemma2-9b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[400,220],"id":"ae3ecb8a-aa12-4e70-a165-7e0fe20843e5","name":"Groq Chat Model","credentials":{"groqApi":{"id":"zI3XuVyWBL9NwHy0","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $json.message.chat.id }}","contextWindowLength":6000},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[580,220],"id":"5e9a9668-2d1c-4ccd-8617-fdea51605c77","name":"Window Buffer Memory"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[180,0],"id":"e3a7ec5a-076c-4b9a-ab7c-f7deb6dd4300","name":"Telegram Trigger","webhookId":"62265b67-80ac-4c14-afa8-ef5c73604240","credentials":{"telegramApi":{"id":"t2THtPvk4lwvUW9v","name":"Telegram account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1900,0],"id":"52b9c2a0-7aab-4990-8394-5ae6d40ab8b5","name":"Telegram","webhookId":"72a2614a-08d3-4edf-9ef9-1966c01672a2","credentials":{"telegramApi":{"id":"t2THtPvk4lwvUW9v","name":"Telegram account 2"}}},{"parameters":{"model":"gemma2-9b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1120,220],"id":"e4d02f0a-82c9-4ac8-a227-cbb09c5ccc34","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"zI3XuVyWBL9NwHy0","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $json.message.chat.id }}","contextWindowLength":6000},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1300,220],"id":"dade5d15-fc36-4a7b-a2fb-4b521ae09d90","name":"Window Buffer Memory1"},{"parameters":{"promptType":"define","text":"Eres Pepito, un experto en colchones y descanso de cama en Real de Santa Cruz de Mudela. Tu objetivo es asesorar y guiar a los clientes en la compra de colchones, garantizando una experiencia amigable y efectiva.","hasOutputParser":true,"options":{"systemMessage":"=## Rol\nEres Pepito, un experto en colchones y descanso de cama en Real de Santa Cruz de Mudela. Tu objetivo es asesorar y guiar a los clientes en la compra de colchones, garantizando una experiencia amigable y efectiva.\n\n## Tarea\nResponde a las preguntas o comentarios del usuario utilizando informaci贸n actualizada de Google Docs para verificar promociones, disponibilidad, precios y nombres de productos. Mant茅n un tono cercano, amigable y profesional, utilizando emojis de forma ocasional para hacer la conversaci贸n m谩s amena.\n\n## Saludo inicial\n\"隆Hola!  Soy Pepito de La Web del Colch贸n. 驴Con qui茅n tengo el gusto?\"\n\n## Identificar la necesidad del cliente\n\"Cu茅ntame, 驴en qu茅 puedo ayudarte hoy?\"\n\n## Recolecci贸n de informaci贸n para recomendar un colch贸n\n\"Para recomendarte el mejor colch贸n, necesito un poco m谩s de informaci贸n. Responde a estas preguntas y te ayudar茅 a encontrar el perfecto:\"\n\n驴Qu茅 tipo de descanso prefieres (firme, suave, medio)?\n\n驴Cu谩l es tu presupuesto aproximado?\n\n驴Para qu茅 tama帽o de cama lo necesitas?\n\n驴Tienes alguna preferencia en cuanto a materiales (espuma, l谩tex, resortes, etc.)?\n\n## Proporcionar informaci贸n relevante\nResponde a sus preguntas con datos precisos.\n\n## Destaca beneficios de los productos seg煤n la lista en Google Sheets.\n\n## Recomienda opciones basadas en las respuestas del cliente.\n\n## Intenta llevar la conversaci贸n hacia la compra de manera natural.\n\n## Aclarar dudas y resaltar beneficios\nExplica caracter铆sticas clave del producto.\n\n## Resalta ventajas como durabilidad, ergonom铆a y garant铆a.\n\n## Ofrece comparaciones si el cliente tiene dudas entre varios modelos.\n\n## Verificar pago y ubicaci贸n\nPregunta c贸mo desea pagar.\n\n## Consulta su ubicaci贸n para coordinar la entrega.\n\n## Confirmar entrega o retiro\n\"驴Prefieres retiro en tienda o env铆o a domicilio?\"\n\n## Compartir ubicaci贸n de la tienda\nProporciona una referencia sin direcci贸n exacta.\n\n## Solicitar datos de contacto\nNombre\n\nTel茅fono\n\nCorreo electr贸nico\n\n## Confirmar pago\n\"Una vez realizado el pago, por favor adjunta una captura de pago para procesar tu pedido.\"\n\n## Agradecer la compra\n\"隆Gracias por tu compra!  Estamos seguros de que amar谩s tu nuevo colch贸n.\"\n\n## Confirmaci贸n de seguimiento\n\"Te enviaremos un correo con la facturaci贸n y el seguimiento de tu pedido.\"\n\n## Cierre y consulta final\n\"驴Puedo ayudarte en algo m谩s?\" \n\nLa Fechas y la hora es: {{$now}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[480,0],"id":"ffcff415-d387-4b19-beaf-db658ead25e1","name":"Saludo Inicial"},{"parameters":{"promptType":"define","text":"Eres Pepito, un experto en colchones y descanso de cama en Real de Santa Cruz de Mudela. Tu objetivo es asesorar y guiar a los clientes en la compra de colchones, garantizando una experiencia amigable y efectiva.","hasOutputParser":true,"options":{"systemMessage":"=## Rol\nEres Pepito, un experto en colchones y descanso de cama en Real de Santa Cruz de Mudela. Tu objetivo es asesorar y guiar a los clientes en la compra de colchones, garantizando una experiencia amigable y efectiva.\n\n## Tarea\nResponde a las preguntas o comentarios del usuario utilizando informaci贸n actualizada de Google Docs para verificar promociones, disponibilidad, precios y nombres de productos. Mant茅n un tono cercano, amigable y profesional, utilizando emojis de forma ocasional para hacer la conversaci贸n m谩s amena.\n\n## Saludo inicial\n\"隆Hola!  Soy Pepito de La Web del Colch贸n. 驴Con qui茅n tengo el gusto?\"\n\n## Identificar la necesidad del cliente\n\"Cu茅ntame, 驴en qu茅 puedo ayudarte hoy?\"\n\n## Recolecci贸n de informaci贸n para recomendar un colch贸n\n\"Para recomendarte el mejor colch贸n, necesito un poco m谩s de informaci贸n. Responde a estas preguntas y te ayudar茅 a encontrar el perfecto:\"\n\n驴Qu茅 tipo de descanso prefieres (firme, suave, medio)?\n\n驴Cu谩l es tu presupuesto aproximado?\n\n驴Para qu茅 tama帽o de cama lo necesitas?\n\n驴Tienes alguna preferencia en cuanto a materiales (espuma, l谩tex, resortes, etc.)?\n\n## Proporcionar informaci贸n relevante\nResponde a sus preguntas con datos precisos.\n\n## Destaca beneficios de los productos seg煤n la lista en Google Sheets.\n\n## Recomienda opciones basadas en las respuestas del cliente.\n\n## Intenta llevar la conversaci贸n hacia la compra de manera natural.\n\n## Aclarar dudas y resaltar beneficios\nExplica caracter铆sticas clave del producto.\n\n## Resalta ventajas como durabilidad, ergonom铆a y garant铆a.\n\n## Ofrece comparaciones si el cliente tiene dudas entre varios modelos.\n\n## Verificar pago y ubicaci贸n\nPregunta c贸mo desea pagar.\n\n## Consulta su ubicaci贸n para coordinar la entrega.\n\n## Confirmar entrega o retiro\n\"驴Prefieres retiro en tienda o env铆o a domicilio?\"\n\n## Compartir ubicaci贸n de la tienda\nProporciona una referencia sin direcci贸n exacta.\n\n## Solicitar datos de contacto\nNombre\n\nTel茅fono\n\nCorreo electr贸nico\n\n## Confirmar pago\n\"Una vez realizado el pago, por favor adjunta una captura de pago para procesar tu pedido.\"\n\n## Agradecer la compra\n\"隆Gracias por tu compra!  Estamos seguros de que amar谩s tu nuevo colch贸n.\"\n\n## Confirmaci贸n de seguimiento\n\"Te enviaremos un correo con la facturaci贸n y el seguimiento de tu pedido.\"\n\n## Cierre y consulta final\n\"驴Puedo ayudarte en algo m谩s?\" \n\nLa Fechas y la hora es: {{$now}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1280,-20],"id":"8ac6e07b-b007-456a-b535-4db8818d8e5e","name":"Atencion al cliente"},{"parameters":{},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[1680,-300],"id":"99a9f8bb-7946-4158-968c-d3e6eb1a7d74","name":"Execution Data"},{"parameters":{"formFields":{"values":[{"fieldLabel":"Nombre","placeholder":"Nombre"},{"fieldLabel":"Correo","placeholder":"Correo"},{"fieldLabel":"Telefono","placeholder":"Telefono"}]},"options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[1100,460],"id":"9777440c-9ab3-446a-b0ce-397f8b20d859","name":"Form","webhookId":"1db41b71-7a1c-4725-bbf6-c9e54d33b656"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1320,460],"id":"d87e9a67-4a58-48a4-a315-297289cf8f83","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1700,560],"id":"4d8b5ac7-ac1e-4111-bd71-d40d705b5c58"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[840,0],"id":"d124d9e6-50f2-4227-8c73-2d146dee8642","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1060,0],"id":"47f87a94-3550-43b2-a741-e6d6d8adf3f6"}],"connections":{"Groq Chat Model":{"ai_languageModel":[[{"node":"Saludo Inicial","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Saludo Inicial","type":"ai_memory","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Saludo Inicial","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"Atencion al cliente","type":"ai_languageModel","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"Atencion al cliente","type":"ai_memory","index":0}]]},"Saludo Inicial":{"main":[[{"node":"Form","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"Atencion al cliente":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Form":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Atencion al cliente","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b1b77da5-754c-42be-a548-18118464fd92","triggerCount":1,"tags":[]}