n8n/backup/workflows/chatbot---telegram---groq---consulta-google-sheet-ZwkFZphSfmKE0Jex.json
{"createdAt":"2025-03-28T17:44:44.033Z","updatedAt":"2025-03-28T18:01:40.000Z","id":"ZwkFZphSfmKE0Jex","name":"Chatbot - Telegram - Groq - Consulta Google Sheet","active":false,"nodes":[{"parameters":{"promptType":"define","text":"hola","options":{"systemMessage":"=se un asistente virtual, programador, vendedor profesional, preguntale su nombre y datos para registrar\n\n {{ $json.message.text }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,0],"id":"60dc4795-3e4f-469e-afde-abbc1ad18eda","name":"AI Agent"},{"parameters":{"model":"gemma2-9b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[360,220],"id":"eb3f5fb6-c694-4a55-a5a8-8cfe042a3676","name":"Groq Chat Model","credentials":{"groqApi":{"id":"zI3XuVyWBL9NwHy0","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"database","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[360,400],"id":"9d55b465-7355-4c09-b270-270459cc36ca","name":"Window Buffer Memory"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[180,0],"id":"ccc88efe-840f-4143-9284-ef75f7e3f589","name":"Telegram Trigger","webhookId":"fe684274-6deb-4d62-a958-22ba635d71a0","credentials":{"telegramApi":{"id":"TFMJwIzFjAZPkcty","name":"Modoprueba_bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,0],"id":"f077ff18-7946-4d70-be53-bc96ac75f3e7","name":"Telegram","webhookId":"d9f8c893-2d60-4817-b849-9113992390a8","credentials":{"telegramApi":{"id":"t2THtPvk4lwvUW9v","name":"Telegram account 2"}}},{"parameters":{"descriptionType":"manual","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"Hoja1","mode":"name"},"combineFilters":"OR","options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"detectAutomatically"}}}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[700,220],"id":"58dc774c-d628-43c7-810c-750ffa0cdd06","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"xnYgm7FtRcC3YeQI","name":"Google Sheets account 2"}}}],"connections":{"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"63cd2e83-9009-4c88-81c9-80477f930c8b","triggerCount":1,"tags":[]}