n8n/backup/workflows/extraer-correos-de-empresas-en-google-maps-sin-usar-api-de-terceros-edgxd8EGnF2psciZ.json
{"createdAt":"2025-04-02T17:05:44.598Z","updatedAt":"2025-04-02T17:13:06.000Z","id":"edgxd8EGnF2psciZ","name":"Extraer correos de empresas en Google Maps sin usar API de terceros","active":false,"nodes":[{"parameters":{"options":{}},"id":"70d54e09-9508-43c3-9de1-8179c40ec534","name":"Loop over queries","type":"n8n-nodes-base.splitInBatches","position":[-280,-20],"typeVersion":3},{"parameters":{"url":"=https://www.google.com/maps/search/{{ $json.query }}","options":{}},"id":"3234aba2-ff90-4d25-940e-f834b6930de7","name":"Search Google Maps with query","type":"n8n-nodes-base.httpRequest","position":[-580,460],"typeVersion":4.2},{"parameters":{"options":{}},"id":"4a2227fe-f34b-4651-b69f-fec8b9c2c47c","name":"Extract Business URLs","type":"n8n-nodes-base.htmlExtract","position":[-380,480],"typeVersion":1},{"parameters":{"options":{}},"id":"c97b9c84-3fed-4283-ba48-96a6e04309c9","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[20,460],"typeVersion":2},{"parameters":{"url":"={{$json.businessUrl}}","options":{}},"id":"c2ef747b-a166-4099-b13d-56962787aef3","name":"Visit Business Website","type":"n8n-nodes-base.httpRequest","position":[220,460],"typeVersion":4.2},{"parameters":{"options":{}},"id":"1c2738d9-a5ab-4375-84e0-86d6ad2e2c00","name":"Extract Email Address","type":"n8n-nodes-base.htmlExtract","position":[420,460],"typeVersion":1},{"parameters":{"functionCode":"return items.map(item => { item.json.email = item.json.email.replace('mailto:', ''); return item; });"},"id":"9a16f1e4-8783-42ed-94ed-0a705b686ef6","name":"Remove mailto: Prefix","type":"n8n-nodes-base.function","position":[620,460],"typeVersion":1},{"parameters":{"options":{}},"id":"80e613c7-3592-45e1-bb80-d799b0b16f19","name":"Remove Duplicates (Emails)","type":"n8n-nodes-base.removeDuplicates","position":[820,460],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"id":"1fc58a10-eba0-4d74-a564-d8291c5b7a2d","name":"Save to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[1020,460],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"Dnjn0e1RzMkNRrnn","name":"Google Sheets Gmultiusuario1"}}}],"connections":{"Loop over queries":{"main":[[{"node":"Search Google Maps with query","type":"main","index":0}]]},"Search Google Maps with query":{"main":[[{"node":"Extract Business URLs","type":"main","index":0}]]},"Extract Business URLs":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Visit Business Website","type":"main","index":0}]]},"Visit Business Website":{"main":[[{"node":"Extract Email Address","type":"main","index":0}]]},"Extract Email Address":{"main":[[{"node":"Remove mailto: Prefix","type":"main","index":0}]]},"Remove mailto: Prefix":{"main":[[{"node":"Remove Duplicates (Emails)","type":"main","index":0}]]},"Remove Duplicates (Emails)":{"main":[[{"node":"Save to Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e39ba0d9-6057-46ac-8258-84a106f3f0a2","triggerCount":0,"tags":[]}