n8n/backup/workflows/generador-de-contenido-v2-N5XMdPr2eCreOASU.json
{"createdAt":"2025-04-02T15:55:15.390Z","updatedAt":"2025-04-02T15:57:49.000Z","id":"N5XMdPr2eCreOASU","name":"GENERADOR DE CONTENIDO V2","active":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"=Titulo {{ $('Una Idea').item.json['Escribe un tema a tratar'] }}","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1080,-440],"id":"b232f3fb-a0fd-4474-bae8-3581b6338704","name":"Window Buffer Memory"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.submittedAt }}","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1040,-40],"id":"3987380f-2674-483a-a2cf-5628e67b628a","name":"Window Buffer Memory1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.Nombre }}","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1020,360],"id":"a7a3213a-c9db-496f-8c4d-d6e9805b031c","name":"Window Buffer Memory2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=Creauna imagen {{ $json['Escribe un tema a tratar'] }}","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1060,760],"id":"11707aaf-0f85-4aa8-946d-0fdec2af28a4","name":"Window Buffer Memory3"},{"parameters":{"promptType":"define","text":"=Creauna imagen {{ $json['Escribe un tema a tratar'] }}","options":{"systemMessage":"=# Crea una imagen{{ $json.Imagen }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[960,520],"id":"a8232440-306b-431d-a994-19b48b020dbf","name":"Generador de Imagen"},{"parameters":{"promptType":"define","text":"={{ $json['Escribe un tema a tratar'] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[980,-680],"id":"f7956933-4f29-43e8-a0ea-9fada91225f6","name":"Titulo"},{"parameters":{"promptType":"define","text":"=Contexto {{ $json['Escribe un tema a tratar'] }}","options":{"systemMessage":"# Eres una agencia publicitaria y analitico filosofo donde buscas las debilidades del cliente y brindas soluciones\n\nhabla siempre en idioma español para Españoles"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[980,-280],"id":"4630eb52-a8e1-4f24-857e-51d39d279a70","name":"Contexto"},{"parameters":{"promptType":"define","text":"=Proposito {{ $json['Escribe un tema a tratar'] }}","options":{"systemMessage":"Descripción:\nEres un bot de generación de contenido altamente eficiente, especializado en crear textos con propósito y respuestas directas sin rodeos. Tu objetivo es proporcionar contenido claro, impactante y alineado con la intención del usuario.\n\nReglas de Respuesta:\nPrecisión y concisión: Responde en el menor número de palabras posible sin perder claridad.\n\nImpacto inmediato: Crea frases llamativas, persuasivas y bien estructuradas.\n\nFormato optimizado: Utiliza títulos atractivos, listas cuando sea útil y estructura fácil de leer.\n\nEnfoque en el propósito: No des información irrelevante ni agregues adornos innecesarios.\n\nRapidez y efectividad: Responde al instante con contenido listo para usar.\n\nEjemplo de Uso:\nUsuario: Genera un título de blog sobre descanso.\n\nBot: \"Descansa Mejor Hoy: Claves para un Sueño Reparador\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[960,120],"id":"4b316494-4bda-49d7-acdb-4664fc7c0a17","name":"Proposito"},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>{{ $json.output }}</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>{{ $json.output }}</h1>\n    <h2>{{ $json.output }}</h2>\n    <p>{{ $json.output }}</p>\n    <img>{{ $json.output }}<img/>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2420,-260],"id":"ad825f95-e80a-43dc-8fc5-084abcfb12a5","name":"HTML"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2360,340],"id":"41622619-4691-430d-84ee-236a02edac1e","name":"Merge"},{"parameters":{"formTitle":"Generador de Contenido para Redes sociales","formDescription":"Administrador de contenido para redes sociales","formFields":{"values":[{"fieldLabel":"Nombre","placeholder":"Nombre","requiredField":true},{"fieldLabel":"Escribe un tema a tratar","placeholder":"Escribe tu idea aqui","requiredField":true}]},"options":{"buttonLabel":"Enviar"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-160,-480],"id":"de1a50b9-c7e4-4984-a4df-ae104c337e44","name":"Una Idea","webhookId":"4b43f5e4-9c10-49aa-8a87-f400535a6640"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit?gid=320748582#gid=320748582","mode":"url"},"sheetName":{"__rl":true,"value":320748582,"mode":"list","cachedResultName":"GENERADOR DE CONTENIDO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit#gid=320748582"},"columns":{"mappingMode":"defineBelow","value":{"Titulo":"=","Proposito":"={{ $('Proposito').item.json.output }}","Contenido":"={{ $json.output }}"},"matchingColumns":["Producto"],"schema":[{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contenido","displayName":"Contenido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Solución","displayName":"Solución","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Solucion","displayName":"Solucion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Proposito","displayName":"Proposito","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Redes Sociales","displayName":"Redes Sociales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Canales","displayName":"Canales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2360,60],"id":"4bad8c5e-2f72-49f7-a634-fcf8eda6de75","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"Dnjn0e1RzMkNRrnn","name":"Google Sheets Gmultiusuario1"}}},{"parameters":{"folderId":"1HjanJKUW31mB4xv274rRundhwM7IQhgt","title":"={{ $('Titulo').item.json.output }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2720,-260],"id":"9ce87950-7809-447c-b72b-482ff16761bd","name":"Google Docs"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1Im7ogqAutsJs9bOOMS2ay3Q-t4-8iinwoQhf8OncwZ8/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"insert","insertSegment":"header","segmentId":"Titulo","text":"={{ $json.name }}"},{"action":"={{ $('Titulo').item.json.output }}"},{"action":"={{ $('Una Idea').item.json['Escribe un tema a tratar'] }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2940,-260],"id":"961f9d03-2990-462b-a4bb-ae99c69ca232","name":"Google Docs1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[900,-460],"id":"2e961a38-bec3-4cd9-91bd-b2d8fae927c3","name":"Groq Chat Model","credentials":{"groqApi":{"id":"zI3XuVyWBL9NwHy0","name":"Groq account"}}},{"parameters":{"model":"qwen-2.5-coder-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[860,-60],"id":"133faf0f-8e23-40da-a649-d990945ebc41","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"zI3XuVyWBL9NwHy0","name":"Groq account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[840,340],"id":"ac4b0d20-111a-4703-80ec-fdce58d7f491","name":"Groq Chat Model2","credentials":{"groqApi":{"id":"zI3XuVyWBL9NwHy0","name":"Groq account"}}},{"parameters":{"model":"llama-guard-3-8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[880,740],"id":"f1237b56-f354-4130-b250-653dc2ebd297","name":"Groq Chat Model3","credentials":{"groqApi":{"id":"zI3XuVyWBL9NwHy0","name":"Groq account"}}}],"connections":{"Window Buffer Memory":{"ai_memory":[[{"node":"Titulo","type":"ai_memory","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"Contexto","type":"ai_memory","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"Proposito","type":"ai_memory","index":0}]]},"Window Buffer Memory3":{"ai_memory":[[{"node":"Generador de Imagen","type":"ai_memory","index":0}]]},"Proposito":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Contexto":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Generador de Imagen":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Titulo":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Merge":{"main":[[]]},"Una Idea":{"main":[[{"node":"Titulo","type":"main","index":0},{"node":"Contexto","type":"main","index":0},{"node":"Proposito","type":"main","index":0},{"node":"Generador de Imagen","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Titulo","type":"ai_languageModel","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"Contexto","type":"ai_languageModel","index":0}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"Proposito","type":"ai_languageModel","index":0}]]},"Groq Chat Model3":{"ai_languageModel":[[{"node":"Generador de Imagen","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a4cf17a7-5a6f-494c-81b4-6b12ff77f575","triggerCount":3,"tags":[]}