n8n/backup/workflows/generador-de-ideas-de-contenido-ZJYzCkHRFVHuRY1V.json
{"createdAt":"2025-04-01T15:05:28.606Z","updatedAt":"2025-04-02T16:17:55.000Z","id":"ZJYzCkHRFVHuRY1V","name":"Generador de ideas de contenido","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"demo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-140,60],"id":"a264b31d-4757-4a2c-ac2b-f3a5b77b52c0","name":"Webhook","webhookId":"994abb8e-fdf2-4b71-b0d7-862d40b1a6b6"},{"parameters":{"modelName":"models/gemini-1.5-flash-001","options":{"maxOutputTokens":500,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[840,-40],"id":"10ea8851-594b-48c0-9839-4db7952030bd","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"pFKc02yvE77S5Bd4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=Titulo {{ $('Una Idea').item.json['Escribe un tema a tratar'] }}","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1080,-440],"id":"83eebc2e-a53d-4ce6-a710-6d073e30b4a3","name":"Window Buffer Memory"},{"parameters":{"modelName":"models/gemini-1.5-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[800,-460],"id":"9685de79-de8e-48e9-9461-3650fdcbb582","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"gxvwrbUES5rUcbiQ","name":"Google Gemini(PaLM) Api account 2"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.submittedAt }}","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1040,-40],"id":"faaf8e80-d288-4324-af37-1e88dfafa80e","name":"Window Buffer Memory1"},{"parameters":{"modelName":"models/gemini-1.5-flash-001","options":{"maxOutputTokens":500,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[860,300],"id":"dd942382-315b-4abd-af00-868ab8126546","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"gxvwrbUES5rUcbiQ","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.Nombre }}","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1020,360],"id":"d54eff39-247f-446d-8848-70f8c502c799","name":"Window Buffer Memory2"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp-image-generation","options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[920,740],"id":"f6637e97-2492-4079-87ea-cbb4b9344ff0","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"gxvwrbUES5rUcbiQ","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=Creauna imagen {{ $json['Escribe un tema a tratar'] }}","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1060,760],"id":"14b01cd0-5fc4-4f45-9502-5963b3e7998e","name":"Window Buffer Memory3"},{"parameters":{"promptType":"define","text":"=Creauna imagen {{ $json['Escribe un tema a tratar'] }}","options":{"systemMessage":"=# Crea una imagen{{ $json.Imagen }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[960,520],"id":"cdcda51f-d07a-447d-8a3e-aac2b7e19b58","name":"Generador de Imagen"},{"parameters":{"promptType":"define","text":"=Titulo {{ $json['Escribe un tema a tratar'] }}","options":{"systemMessage":"Descripción:\nEres un bot de generación de contenido altamente eficiente, especializado en crear textos con propósito y respuestas directas sin rodeos. Tu objetivo es proporcionar contenido claro, impactante y alineado con la intención del usuario.\n\nReglas de Respuesta:\nPrecisión y concisión: Responde en el menor número de palabras posible sin perder claridad.\n\nImpacto inmediato: Crea frases llamativas, persuasivas y bien estructuradas.\n\nFormato optimizado: Utiliza títulos atractivos, listas cuando sea útil y estructura fácil de leer.\n\nEnfoque en el propósito: No des información irrelevante ni agregues adornos innecesarios.\n\nRapidez y efectividad: Responde al instante con contenido listo para usar.\n\nEjemplo de Uso:\nUsuario: Genera un título de blog sobre descanso.\n\nBot: \"Descansa Mejor Hoy: Claves para un Sueño Reparador\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[980,-680],"id":"221c6d60-2d57-4c30-a0f3-6a0c04ae9808","name":"Titulo"},{"parameters":{"promptType":"define","text":"=Contexto {{ $json['Escribe un tema a tratar'] }}","options":{"systemMessage":"# Eres una agencia publicitaria y analitico filosofo donde buscas las debilidades del cliente y brindas soluciones\n\nhabla siempre en idioma español para Españoles"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[980,-280],"id":"452c799a-d9e8-44a7-bfe7-d89fd82186c8","name":"Contexto"},{"parameters":{"promptType":"define","text":"=Proposito {{ $json['Escribe un tema a tratar'] }}","options":{"systemMessage":"Descripción:\nEres un bot de generación de contenido altamente eficiente, especializado en crear textos con propósito y respuestas directas sin rodeos. Tu objetivo es proporcionar contenido claro, impactante y alineado con la intención del usuario.\n\nReglas de Respuesta:\nPrecisión y concisión: Responde en el menor número de palabras posible sin perder claridad.\n\nImpacto inmediato: Crea frases llamativas, persuasivas y bien estructuradas.\n\nFormato optimizado: Utiliza títulos atractivos, listas cuando sea útil y estructura fácil de leer.\n\nEnfoque en el propósito: No des información irrelevante ni agregues adornos innecesarios.\n\nRapidez y efectividad: Responde al instante con contenido listo para usar.\n\nEjemplo de Uso:\nUsuario: Genera un título de blog sobre descanso.\n\nBot: \"Descansa Mejor Hoy: Claves para un Sueño Reparador\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[960,120],"id":"3cbbe441-5102-4b3a-abf2-9f1f7f51d701","name":"Proposito"},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>{{ $json.output }}</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>{{ $json.output }}</h1>\n    <h2>{{ $json.output }}</h2>\n    <p>{{ $json.output }}</p>\n    <img>{{ $json.output }}<img/>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2540,-440],"id":"9c34e3b1-01a9-428b-968b-7b0402f1b99d","name":"HTML"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2000,360],"id":"af0414ef-470b-4e64-b8d7-0bafbe9aa431","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1520,-440],"id":"0948d58b-a25f-4b3e-83d3-a6e8d4115345","name":"Aggregate","disabled":true},{"parameters":{"formTitle":"Generador de Contenido para Redes sociales","formDescription":"Administrador de contenido para redes sociales","formFields":{"values":[{"fieldLabel":"Idea / Inspiración","placeholder":"Escribe tu idea aqui","requiredField":true},{"fieldLabel":"Contexto de la idea principal","placeholder":"Escribe el contexto de tu idea aqui","requiredField":true},{"fieldLabel":"Proposito","placeholder":"Palabras claves"},{"fieldLabel":"Imagen","placeholder":"Imaginacion de la idea pensada"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-140,-140],"id":"346d6221-e323-4aaa-bcbd-0df8350124e4","name":"Varias Ideas","webhookId":"fc643091-9f29-4c3c-b366-754c28396445","disabled":true},{"parameters":{"formTitle":"Generador de Contenido para Redes sociales","formDescription":"Administrador de contenido para redes sociales","formFields":{"values":[{"fieldLabel":"Nombre","placeholder":"Nombre","requiredField":true},{"fieldLabel":"Escribe un tema a tratar","placeholder":"Escribe tu idea aqui","requiredField":true}]},"options":{"buttonLabel":"Enviar"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-160,-480],"id":"08092bbb-14dc-40a2-9022-1b41f5a74001","name":"Una Idea","webhookId":"9b528c4c-580a-4f8b-aee9-3abecea7e1fb"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d04a7e8d-ecbd-4464-95a6-3aa44f24f14e","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1220,-920],"id":"52b32960-caac-4640-9c7b-1b6878103970","name":"Switch"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit?gid=320748582#gid=320748582","mode":"url"},"sheetName":{"__rl":true,"value":320748582,"mode":"list","cachedResultName":"GENERADOR DE CONTENIDO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit#gid=320748582"},"columns":{"mappingMode":"defineBelow","value":{"Titulo":"=","Proposito":"={{ $('Proposito').item.json.output }}","Contenido":"={{ $json.output }}"},"matchingColumns":["Producto"],"schema":[{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contenido","displayName":"Contenido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Solución","displayName":"Solución","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Solucion","displayName":"Solucion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Proposito","displayName":"Proposito","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Redes Sociales","displayName":"Redes Sociales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Canales","displayName":"Canales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3420,-240],"id":"c1b6458c-8893-4e8b-839f-ee7e28d2b4aa","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"Dnjn0e1RzMkNRrnn","name":"Google Sheets Gmultiusuario1"}}},{"parameters":{"folderId":"1HjanJKUW31mB4xv274rRundhwM7IQhgt","title":"={{ $json.output }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2660,-900],"id":"d016cd94-d5d9-4c7e-a535-c68a8c07709d","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"aCWJ9TP5LeOTV3wy","name":"Google Docs Gmultiusuario1"}}},{"parameters":{"operation":"__CUSTOM_API_CALL__"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[3040,-540],"id":"1a51f848-9a50-4771-8631-c210963e6a0f","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"aCWJ9TP5LeOTV3wy","name":"Google Docs Gmultiusuario1"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=Titulo {{ $('Una Idea').item.json['Escribe un tema a tratar'] }}","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1940,-660],"id":"61fb9aab-d58d-402b-a5b8-f403a9d5583d","name":"Window Buffer Memory4"},{"parameters":{"modelName":"models/gemini-1.5-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1820,-720],"id":"2436d649-2adc-4676-834f-2262773e343c","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"gxvwrbUES5rUcbiQ","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"ROL\nAnaliza el texto resumelo en un titulo facil de entender de 30 caracteres en español"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1840,-900],"id":"91c8410b-346c-4e82-85d5-bd13d355ead8","name":"Revision de titulo"},{"parameters":{"owner":{"__rl":true,"mode":"list","value":""},"repository":{"__rl":true,"mode":"list","value":""},"events":["page_build"],"options":{}},"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[-160,-660],"id":"c774975f-7398-44e2-9294-ecd4bccc6b07","name":"Github Trigger","webhookId":"1f955186-6e0d-4e1c-88a1-2f9d7afc3e88","disabled":true}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Contexto","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Titulo","type":"ai_memory","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Titulo","type":"ai_languageModel","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"Contexto","type":"ai_memory","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Proposito","type":"ai_languageModel","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"Proposito","type":"ai_memory","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Generador de Imagen","type":"ai_languageModel","index":0}]]},"Window Buffer Memory3":{"ai_memory":[[{"node":"Generador de Imagen","type":"ai_memory","index":0}]]},"Proposito":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"HTML","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Contexto":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"HTML","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Generador de Imagen":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"HTML","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Titulo":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"HTML","type":"main","index":0},{"node":"Revision de titulo","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Merge":{"main":[[]]},"Aggregate":{"main":[[]]},"Varias Ideas":{"main":[[{"node":"Titulo","type":"main","index":0},{"node":"Contexto","type":"main","index":0},{"node":"Proposito","type":"main","index":0},{"node":"Generador de Imagen","type":"main","index":0}]]},"Una Idea":{"main":[[{"node":"Titulo","type":"main","index":0},{"node":"Contexto","type":"main","index":0},{"node":"Proposito","type":"main","index":0},{"node":"Generador de Imagen","type":"main","index":0}]]},"Google Docs":{"main":[[]]},"Window Buffer Memory4":{"ai_memory":[[{"node":"Revision de titulo","type":"ai_memory","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Revision de titulo","type":"ai_languageModel","index":0}]]},"Revision de titulo":{"main":[[{"node":"Google Docs","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"860f39c3-b34c-4337-b258-247c0bfed81e","triggerCount":3,"tags":[]}