n8n/backup/workflows/lwdc-aviso_representante-2rATT1mUkCG4ovxE.json
{"createdAt":"2025-04-02T17:14:41.527Z","updatedAt":"2025-04-02T17:14:58.000Z","id":"2rATT1mUkCG4ovxE","name":"LWDC-Aviso_Representante","active":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Teléfono\": \"542916424279\",\n  \"horario_a_llamar\": \"Ahora\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[200,-120],"id":"86ffd07f-8fee-4514-95c7-f2f0926797c8","name":"When Executed by Another Workflow"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appg5XX0oHvMKCmb2","mode":"list","cachedResultName":"Agente Seguros Automóvil","cachedResultUrl":"https://airtable.com/appg5XX0oHvMKCmb2"},"table":{"__rl":true,"value":"tblUZaPTSqM2bVuJB","mode":"list","cachedResultName":"Respuestas Cualificación","cachedResultUrl":"https://airtable.com/appg5XX0oHvMKCmb2/tblUZaPTSqM2bVuJB"},"filterByFormula":"=({Teléfono}='{{ $json['Teléfono'] }}') ","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[380,-120],"id":"92acced8-9f2a-4472-b527-70f6e96f1a08","name":"Airtable"},{"parameters":{"sendTo":"danschwab2002@gmail.com","subject":"=URGENTE: Llamar al lead {{ $('When Executed by Another Workflow').item.json.horario_a_llamar }}","message":"=Información:\n\n• Horario a llamar: {{ $('When Executed by Another Workflow').item.json.horario_a_llamar }}\n• Número de teléfono: {{ $('When Executed by Another Workflow').item.json['Teléfono'] }}\n• Marca, modelo y año: {{ $json['¿Cuál es la marca, modelo y año del vehículo?'] }}\n• Tipo: {{ $json['¿Qué tipo de vehículo deseas asegurar?'] }}\n• Valor estimado: {{ $json['¿Cuánto estimas que vale tu vehículo actualmente?'] }}\n• Cobertura: {{ $json['¿Qué tipo de cobertura te interesa?'] }}\n• Nuevo o usado: {{ $json['¿El vehículo es nuevo o usado?'] }}\n• Seguimiento: {{ $json['¿Cuándo necesitas que el seguro entre en vigor?'] }}\n• Asistencia en carretera: {{ $json['¿Deseas incluir asistencia en carretera?'] }}\n• Cobertura a conductores terceros: {{ $json['¿Te gustaría que el seguro cubriera a conductores adicionales?'] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[540,-120],"id":"52757df5-1816-475c-9e1c-54ad8e42c58b","name":"Gmail","webhookId":"7d23fc84-16df-4db0-8050-842ae48c60ff"},{"parameters":{"assignments":{"assignments":[{"id":"5e37998d-a714-4e3a-823e-d95c859ebdbd","name":"Respuesta","value":"El representante de ventas fue avisado exitosamente","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,-120],"id":"178932c4-6e16-44a8-b9ca-188d078b33cf","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c1396f18-8d34-4f79-9580-430792b181e6","triggerCount":0,"tags":[]}