n8n/backup/workflows/lwdc-registro-de-leads-FBoWkZ4ON6gaUJn2.json
{"createdAt":"2025-03-31T11:58:28.929Z","updatedAt":"2025-03-31T12:12:52.000Z","id":"FBoWkZ4ON6gaUJn2","name":"LWDC-REGISTRO DE LEADS","active":true,"nodes":[{"parameters":{"formTitle":"Registrate","formDescription":"Quieres conocer mas sobre nuestros productos?","formFields":{"values":[{"fieldLabel":"Nombre","placeholder":"Nombre"},{"fieldLabel":"Correo","placeholder":"Correo","requiredField":true},{"fieldLabel":"Telefono","placeholder":"Telefono","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"113a1819-ff54-45e1-bb18-22650cc1909b","name":"On form submission","webhookId":"0abb1fc4-a168-42f2-a6f8-ce8915caeffd"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1yhBF7g0Knmi2JxFYoVB0S4ud-bOJnOpYQrRlRE-qK24/edit?gid=0#gid=0","mode":"url"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('On form submission').item.json.Nombre }}","Correo":"={{ $('On form submission').item.json.Correo }}","Fecha":"={{ $('On form submission').item.json.submittedAt }}","Usuario":"={{ $('On form submission').item.json.Nombre }}","Telefono":"={{ $('On form submission').item.json.Telefono }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[700,0],"id":"b16cd4d1-152c-431f-8d9c-b4832ff751db","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"xnYgm7FtRcC3YeQI","name":"Google Sheets account 2"}}},{"parameters":{"operation":"roundDate","date":"={{ $json.submittedAt }}","toNearest":"second","options":{"includeInputFields":false}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[320,0],"id":"d368c646-2e22-4db5-9cd9-71492bd00898","name":"Date & Time"}],"connections":{"On form submission":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5578ec76-1be1-49f0-9b90-6170d549aa8a","triggerCount":2,"tags":[]}