n8n/backup/workflows/lwdc-pregunta_no_resuelta-YMMdka5weObmMf8v.json
{"createdAt":"2025-04-02T17:13:50.332Z","updatedAt":"2025-04-02T17:14:18.000Z","id":"YMMdka5weObmMf8v","name":"LWDC-Pregunta_No_Resuelta","active":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Nombre\": \"José Hernández\",\n  \"Teléfono\": \"5492916424279@s.whatsapp.net\",\n  \"Fecha\": \"\",\n  \"Pregunta\": \"¿Ofrecen seguros para camiones?\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-700,60],"id":"e41849d0-c59b-4470-86e7-5c7304d720fa","name":"Workflow Input Trigger","disabled":true},{"parameters":{"sendTo":"danschwab2002@gmail.com","subject":"URGENTE - Atender chat","emailType":"text","message":"=El bot no necesita asistencia de un representante para responder una duda.\n\nNombre: {{ $json.Nombre }}\nTeléfono: {{ $json.Teléfono }}\nPregunta: {{ $json.Pregunta }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-460,240],"id":"d92774c8-512f-4c33-8182-b4db30c66761","name":"Gmail","webhookId":"52d225a5-0dd0-4b51-8879-dee33ea07be7"},{"parameters":{"assignments":{"assignments":[{"id":"1f52f42c-c8c1-41ab-82b1-33bb92de5ac6","name":"Respuesta","value":"=Ya se dió aviso a los representantes y se encargarán del asunto.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,60],"id":"0b70c9fb-e823-457d-bcc9-2d895b4bb167","name":"Edit Fields"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBG9r1lYwjeLIjA","mode":"list","cachedResultName":"Info_Leads_ÓrdenesConstrucciones","cachedResultUrl":"https://airtable.com/appBG9r1lYwjeLIjA"},"table":{"__rl":true,"value":"tblzO4qFF8w5vQyk0","mode":"list","cachedResultName":"Preguntas NO resueltas","cachedResultUrl":"https://airtable.com/appBG9r1lYwjeLIjA/tblzO4qFF8w5vQyk0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $json.Nombre }}","Teléfono":"={{ $json.Teléfono }}","Fecha":"={{ $json.Fecha }}","Pregunta":"={{ $json.Pregunta }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Pregunta","displayName":"Pregunta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-460,60],"id":"ffcf7e39-a267-4684-bacf-1d31cbd6e533","name":"guardar_pregunta"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBG9r1lYwjeLIjA","mode":"list","cachedResultName":"Info_Leads_ÓrdenesConstrucciones","cachedResultUrl":"https://airtable.com/appBG9r1lYwjeLIjA"},"table":{"__rl":true,"value":"tblIrf5JJ7Y2FIRW8","mode":"list","cachedResultName":"Bloqueo de Chat","cachedResultUrl":"https://airtable.com/appBG9r1lYwjeLIjA/tblIrf5JJ7Y2FIRW8"},"columns":{"mappingMode":"defineBelow","value":{"Teléfono Bloqueado":"={{ $json.Teléfono }}"},"matchingColumns":["Teléfono Bloqueado"],"schema":[{"id":"Teléfono Bloqueado","displayName":"Teléfono Bloqueado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-460,-120],"id":"dead6a66-283f-4559-b627-69a652d93777","name":"bloquear_numero"}],"connections":{"Workflow Input Trigger":{"main":[[{"node":"guardar_pregunta","type":"main","index":0},{"node":"Gmail","type":"main","index":0},{"node":"bloquear_numero","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"guardar_pregunta":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"bloquear_numero":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"729e7612-b111-4687-9db9-70e1631e38c6","triggerCount":0,"tags":[]}