n8n/backup/workflows/lwdc-agente_principal-m6rp1xPeQ1o1Wjfz.json
{"createdAt":"2025-04-02T17:16:28.328Z","updatedAt":"2025-04-02T17:16:41.000Z","id":"m6rp1xPeQ1o1Wjfz","name":"LWDC-Agente_Principal","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"aseguradora","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5180,180],"id":"4691e090-3775-4dff-9928-7a2ba7aff918","name":"Webhook","webhookId":"6f20e330-477a-4c86-95e0-fa732b40b848"},{"parameters":{"assignments":{"assignments":[{"id":"8cc56139-8da8-441c-bd97-ab138b351c90","name":"Texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3900,200],"id":"4fcecb83-7ea7-4585-b6d9-9cbb3f2347b7","name":"Audio"},{"parameters":{"assignments":{"assignments":[{"id":"46f0478e-b455-401e-a333-a8c5ee2f435a","name":"Texto","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"107de8b8-0dc2-49a2-bff9-f089c400d724","name":"Nombre","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4100,20],"id":"38f20a1d-7d39-4244-91c7-4cc8db3343bb","name":"Texto"},{"parameters":{"operation":"toBinary","sourceProperty":"string","options":{"mimeType":"audio/wav"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4300,200],"id":"48c5c0ba-a360-49c5-b0b2-a6f1c0788f80","name":"Convertir Audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-4100,200],"id":"651d7bff-cc34-4147-a46a-587358f09c64","name":"Transcribir Audio"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"119a86ec-35f8-4940-a6dc-da8e9c09e5c4","leftValue":"={{ $json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje Extendido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1dee3306-9b2c-4394-a902-723f247f7cb9","leftValue":"={{ $json.body.data.messageType }}","rightValue":"editedMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje Editado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"909882c8-4453-427b-aceb-735e8405d625","leftValue":"={{ $json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d021c684-39be-43af-a7b6-0140c6e1d4dc","leftValue":"={{ $json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4960,140],"id":"fc5ca818-0fde-4371-9428-9f07fd8ca06e","name":"Switch1"},{"parameters":{"operation":"toBinary","sourceProperty":"=string","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4300,360],"id":"b1310a95-81cf-4092-9e42-a169c321e00e","name":"Convertir Imagen1"},{"parameters":{"assignments":{"assignments":[{"id":"a33f881d-4fd3-4691-9c94-a43da83ffe79","name":"string","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4500,360],"id":"45ce3ea7-3563-44ca-9d6d-d2ccb2417a65","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"05f7cc67-50ae-4e04-875a-93d81cd34733","name":"input","value":"={{ $json.Texto }}","type":"string"},{"id":"7a3bb05f-6313-4d4c-993d-f26ac932e388","name":"nombre","value":"={{ $('Switch1').item.json.body.data.pushName }}","type":"string"},{"id":"97d2b2c6-af7f-40e5-a560-b901164232d0","name":"telefono","value":"={{ $('Switch1').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3620,200],"id":"6bfc42a5-1e81-4c4a-87ba-5e254ed8909e","name":"Input","alwaysOutputData":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-08-06","mode":"list","cachedResultName":"GPT-4O-2024-08-06"},"text":"=Aquí hay una imagen enviada por el usuario. Describe la imagen y transcribe cualquier texto visible en ella. Proporciona tantos detalles como sea posible.","inputType":"base64","options":{"detail":"high"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-4100,360],"id":"13b00a22-c9a2-4d83-a236-c9fda87f80cf","name":"Analizar Imagen"},{"parameters":{"assignments":{"assignments":[{"id":"173e84aa-2529-41da-b02e-e70abab274db","name":"Texto","value":"=*El usuario envió la siguiente imagen*: {{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3900,360],"id":"3467ecc8-c27a-4c19-8d99-3c6e74aa2dbf","name":"Imagen"},{"parameters":{"assignments":{"assignments":[{"id":"a33f881d-4fd3-4691-9c94-a43da83ffe79","name":"string","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4500,200],"id":"e595ee3c-e155-4f7c-b623-12a8a5e448cf","name":"Edit Fields4"},{"parameters":{"tableId":"memoria_temporal","fieldsUi":{"fieldValues":[{"fieldId":"remoteJid","fieldValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"fieldId":"Mensaje","fieldValue":"={{ $json.input }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3440,200],"id":"0d85b451-0bae-4e9d-a703-01cde9ee4626","name":"Supabase"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3240,200],"id":"a18aa570-fa9f-4663-85d8-17ef0fe418a9","name":"Tiempo de Espera1","webhookId":"16d082af-60d9-4029-8ecb-abb673632497"},{"parameters":{"operation":"getAll","tableId":"memoria_temporal","filters":{"conditions":[{"keyName":"remoteJid","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3040,200],"id":"8fd9290b-ceb8-4359-99bd-9b1a38565c07","name":"Supabase1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2840,200],"id":"28ae494b-876d-4119-9450-0c7575830f45","name":"Aggregate"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2380,400],"id":"3eaac1aa-f99b-4c92-8225-eb8b4774faab","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"be8defa2-160a-40e0-b9ea-735368a5f665","name":"=mensaje_final","value":"={{ $json.data.map(item => item.Mensaje).join(\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2380,200],"id":"bd12b971-2462-4196-8fc0-bcd2a09d536c","name":"Edit Fields1"},{"parameters":{"operation":"delete","tableId":"memoria_temporal","filters":{"conditions":[{"keyName":"remoteJid","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2180,200],"id":"f2af9618-14e4-46dd-8ecf-e46c2eaa0384","name":"Supabase2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2000,200],"id":"253f964c-679a-407d-8e86-e587a9fea79b","name":"Aggregate1"},{"parameters":{"options":{"prompt":"Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-720,380],"id":"837db027-08fa-4aa0-a4dd-041bc178a646","name":"Auto-fixing Output Parser"},{"parameters":{"jsonSchemaExample":"{\n  \"response\": {\n    \"parte1\": \"Parte uno de la respuesta\",\n    \"parte2\": \"Parte dos de la respuesta\",\n    \"parte3\": \"Parte tres de la respuesta (opcional).\"   \n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-580,520],"id":"34b57205-45e4-4e93-94cc-f3bfc01d324b","name":"Structured Output Parser"},{"parameters":{"model":"gpt-4o","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[-820,520],"id":"01bf6205-888e-4135-b3f7-26fff6182dcf","name":"4o Verificador"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-40,200],"id":"2f5b5166-8e4b-443d-bc76-2deae8366edb","name":"Wait 2","webhookId":"1edca0c6-1147-41a0-b9a5-cfb63be4aa79"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c883ec3-6f23-4834-b4fc-a8f7ff5eacc5","leftValue":"={{ $('Generador de respuestas').item.json.output.response.parte3 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,400],"id":"974b83af-7a2b-4c51-8c80-9f845becb01e","name":"If Parte 3"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolution-api.bwk271.easypanel.host/message/sendText/OrdenesConstrucciones","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=EVOLUTION_API_KEY"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Generador de respuestas').item.json.output.response.parte3 }}"},{"name":"delay","value":"={{ $('Generador de respuestas').item.json.output.response.part_3.length * 35 }}"},{"name":"linkPreview","value":false}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,200],"id":"5348f617-2a47-4b1d-b6f5-a794a90e141a","name":"Enviar Parte 3"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolution-api.bwk271.easypanel.host/message/sendText/OrdenesConstrucciones","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=EVOLUTION_API_KEY"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Input').item.json.telefono }}"},{"name":"text","value":"={{ $json.output.response.parte1 }}"},{"name":"delay","value":"={{ $json.output.response.part_1.length + 35 }}"},{"name":"linkPreview","value":false}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,200],"id":"1180ac74-1e54-4114-985e-b7116e24a9cc","name":"Enviar Parte 1","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolution-api.bwk271.easypanel.host/message/sendText/OrdenesConstrucciones","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=EVOLUTION_API_KEY"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Generador de respuestas').item.json.output.response.parte2 }}"},{"name":"delay","value":"={{ $('Generador de respuestas').item.json.output.response.parte1.length * 35 }}"},{"name":"linkPreview","value":false}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,200],"id":"fdc2257c-dd5c-46b0-bed7-e0cb9ea1e285","name":"Enviar Parte 2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[340,200],"id":"c47d8b01-41e9-4bc1-b5b2-be524b864d19","name":"Wait 3","webhookId":"3faf6a13-1bef-4ba6-a0b8-fed13380537f"},{"parameters":{"assignments":{"assignments":[{"id":"806fb232-eb65-4d07-8d56-499f1da263d8","name":"output","value":"={{ $('AI Agent').item.json.output }}\"\n\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"6458b5fb-0e31-406a-8a6c-a33c3c24e024","name":"on_error"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[460,380],"id":"ef8ca853-cf99-4511-b5d0-b4884decd0c5","name":"No Operation, do nothing2"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=# Adapta la respuesta \"{{ $json.output }}\" de acuerdo a las siguientes instrucciones:\n\n- Elimina estos caractéres:\n  •\"*\", \"¿\", \"¡\", \"#\"\n- Mantén los saltos de línea **cuando corresponda**, principalmente en los listados o Bullet Point Lists.\n- Utiliza signos de interrogación \"?\" **solo en el final de las frases.**\n- El mensaje debe sonar relajado, formal y respetuoso. \n- Si la respuesta es breve, rellena únicamente la parte1.\n- Si la respuesta es más extensa, considera rellenar la parte2 y la parte3.\n- Si el mensaje contiene una lista, déjala sola en una parte, **manteniendo el formato de lista** (con los saltos de línea correspondientes).\n- **El output debe sonar muy natural y humano. Debes eliminar las siguientes frases o similares:\n  - \"Estoy aquí para ayudarte\" \n  - \"Gracias por la información\" \n  - \"No dudes en preguntar\"\n  - \"Con gusto te ayudaré\".**\n- **La respuesta final debe ser lo más similar posible a la respuesta inicial, no cambies radicalmente las palabras o el significado de la respuesta inicial si no es necesario**.\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-780,200],"id":"df6ee0dd-6fd6-42cf-bd34-e4df6009a083","name":"Generador de respuestas","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1800,460],"id":"39b5025a-0edc-499a-b506-94249e504df4","name":"OpenAI Chat Model"},{"parameters":{"name":"agendar","description":"Utiliza ésta herramienta para: \n•Consultar la disponibilidad del calendario\n•Agendar una visita, llamada o videollamada entre el lead y la empresa.","workflowId":{"__rl":true,"value":"MAOfwQbGzLJNuzbN","mode":"list","cachedResultName":"Agente Agendamiento - Aseguradora"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Acción":"={{ $fromAI(\"consultar_disponibilidad_o_agendar\", \"La acción que se quiere hacer. Si se trata de consultar la disponibilidad de l calendario o de agendar una llamada en el calendario\", \"string\") }}","Fecha":"={{ $fromAI(\"fecha_y_hora\", \"El día del que se quiere saber la disponibilidad o el día y la hora en que se quiere agendar una llamada\",\"string\") }}","nombre_cliente":"={{ $fromAI(\"nombre_clienta\", \"El nombre completo del cliente\", \"string\") }}","email_cliente":"={{ $fromAI(\"email_cliente\", \"El email del cliente\", \"string\") }}"},"matchingColumns":[],"schema":[{"id":"Acción","displayName":"Acción","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nombre_cliente","displayName":"nombre_cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email_cliente","displayName":"email_cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-1420,540],"id":"2105e518-0556-44c1-9f6c-71b2964b1cb1","name":"agendar"},{"parameters":{"name":"pregunta_no_resuelta","description":"Utiliza ésta herramienta para avisar a tus jefes que no pudiste contestar una pregunta.","workflowId":{"__rl":true,"value":"3ldvwwItEIufXZBA","mode":"list","cachedResultName":"ÓrdenesConstrucciones - Aviso a representante"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('Webhook').item.json.body.data.pushName }}","Teléfono":"=  {{ $('Webhook').item.json.body.data.key.remoteJid }}","Fecha":"={{ $now.format('DDDD') }}","Pregunta":"={{ $fromAI(\"pregunta_no_resuelta\", \"La pregunta o duda que no se pudo responder\", \"string\") }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Pregunta","displayName":"Pregunta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-1060,420],"id":"8399e8fe-6e3e-47d8-a689-2373a1f0ec0d","name":"pregunta_no_resuelta"},{"parameters":{"descriptionType":"manual","toolDescription":"=Contiene las respuestas a las siguientes preguntas:\n-\"¿Qué tipos de seguros de autos ofrecen?\"\n-\"¿Cuánto cuesta un seguro de auto?\"\n-\"¿Qué factores influyen en el costo del seguro?\"\n-\"¿Cuáles son los requisitos para contratar un seguro?\"\n-\"¿Qué cubre un seguro de auto básico?\"\n-\"¿Qué diferencia hay entre un seguro básico y un seguro completo?\"\n-\"¿Qué hacer en caso de un accidente?\"\n-\"¿Cómo se realiza el pago del seguro?\"\n-\"¿Cuánto tiempo tarda en activarse la póliza?\"\n-\"¿Puedo asegurar un auto usado?\"\n-\"¿Puedo transferir mi seguro a otro vehículo?\"\n-\"¿El seguro cubre daños por desastres naturales?\"\n-\"¿El seguro cubre a conductores adicionales?\"\n-\"¿Cómo puedo cancelar mi póliza?\"","operation":"search","base":{"__rl":true,"value":"appg5XX0oHvMKCmb2","mode":"list","cachedResultName":"Agente Seguros Automóvil","cachedResultUrl":"https://airtable.com/appg5XX0oHvMKCmb2"},"table":{"__rl":true,"value":"tblNpJUhQqBfWZuX8","mode":"list","cachedResultName":"Imported table","cachedResultUrl":"https://airtable.com/appg5XX0oHvMKCmb2/tblNpJUhQqBfWZuX8"},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-1540,520],"id":"7f854c62-bf08-4438-b18a-bef4d22e3962","name":"preguntas_frecuentes"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields1').item.json.mensaje_final }}","options":{"systemMessage":"=# Rol\n\nEres Juan, un vendedor de seguros para automóviles.\nTienes más de 20 años de experiencia y una tasa de acierto en tus respuestas del 99.8%.\nSi realizas bien tu trabajo, te van a pagar uno de los mejores sueldos del país.\nTen en cuenta que hoy es: **{{ $now.format('DDDD') }}**\n\n# Tarea\nTus tareas específicas son:\n\n  1. **Responder las preguntas frecuentes del lead que escriba al WhatsApp de la empresa**.\n  2. **Cualificar al lead con una serie de preguntas**\n  3. **Guiar al lead al siguiente paso en el proceso de compra, según la cualificación precia**\n\n# Especificaciones\n\n## Especificaciones de la tarea 1\n  - Responde las preguntas frecuentes del lead usando la base de conocimientos \"preguntas_frecuentes\".\nUna vez que le respondas una pregunta, pregúntale si le gustaría que le hagas aglunas preguntas para ofrecerle un servicio más personalizado.\n\n## Especificaciones de la tarea 2\n\n### Instrucciones\nSi el lead muestra **cualquier indicio de interés en adquirir los servicios de la empresa**, pregúntale una por una (es decir, hazle una pregunta, espera a que te responda, luego la otra, y sucesivamente) las siguientes preguntas:\n  1. \"¿Qué tipo de vehículo deseas asegurar?\" (SUV, Auto, Camioneta, VAN, motocicleta)\n  2. \"¿Cuál es la marca, modelo y año del vehículo?\"\n  3. \"¿El vehículo lo adquiriste 0KM o usado?\" (es decir, si es 0KM o si lo compro de segunda, tercera o cuarta mano).\n  4. \"¿Cuánto estimas que vale tu vehículo actualmente?\"\n  5. \"¿Dónde sueles estacionarlo durante la noche?\"\n  6. \"¿Has tenido accidentes en los últimos 5 años?\"\n  7. \"¿Qué tipo de cobertura te interesa?\"\n  8. \"¿Deseas incluir asistencia en carretera?\"\n  9. ¿Te gustaría que el seguro cubriera a conductores adicionales?\"\n  10. \"¿Cuándo necesitas que el seguro entre en vigor?\"\n  11. \"¿Tienes alguna foto del vehículo? Sino no te preocupes\"\n\n**IMPORTANTE: No repitas la respuesta que dió el lead a la anterior pregunta cuando le hagas la siguiente pregunta**. Sencillamente avanza con la siguiente pregunta.\nPor ejemplo, si el lead contestó \"Es una BMW X5 año 2023\", **NO DIGAS**: \"Una BMW X5 años 2023, el vehículo es nuevo o usado?\"\nEn su lugar, el mensaje correcto sería algo como \"Bien, el vehículo es nuevo o usado?\" o \"Perfecto, vamos con la siguiente\".\n\nUna vez que el lead haya terminado de contestar todas las preguntas, **llama a la herramienta \"guardar_respuestas\"**. La misma te responderá si la cualifación del lead es:\n  1. \"Prioridad alta\"\n  2. \"Prioridad media\"\n  3. \"Prioridad baja\"\n\n## Especificaciones de la tarea 3\n\n  - Si el lead fue cualificado como **\"Prioridad alta\"**, dile lo siguiente de forma textual: \"Excelente, te gustaría que te llame un representante ahora mismo? Así pueden avanzar con el proceso de contratación\". \nSi su respuesta es positiva, **llama a la herramienta \"aviso_representante\"** para comunicarle la situación.\nSi no es posible que lo llamen ahora mismo, pregúntale en qué momento del día puede ser y luego llama a la herramienta \"aviso_representante\" para comunicarle la situación.\n  - En caso de que no sea posible llamarlo en la brevedad (es decir, hoy mismo, teniendo en cuenta que es {{ $now.format('DD') }} ), utiliza la herramienta \"agendamiento\" para agendar una cita programada a las oficinas de la empresa. Primero utiliza la herramienta para consultar la disponibilidad del calendario y ofrecerle al lead los distintos horarios disponibles. Luego, utilizala nuevamente para agendar dicha cita en el calendario **TENIENDO EN CUENTA QUE EL DÍA DE HOY ES {{ $now.format('DDDD') }}**.. \nPara hacer un agendamiento, debes preguntarle al lead:\n  1. Su nombre completo\n  2. Su email\n  3. Qué día quiere reservar la cita\n\n  - Si el lead fue calificado como **\"Prioridad media\"**, utiliza la herramienta \"agendamiento\" para agendar una cita programada a las oficinas de la empresa. Primero utiliza la herramienta para consultar la disponibilidad del calendario y ofrecerle al lead los distintos horarios disponibles. Luego, utilizala nuevamente para agendar dicha cita en el calendario **TENIENDO EN CUENTA QUE EL DÍA DE HOY ES {{ $now.format('DDDD') }}**. \nPara hacer un agendamiento, debes preguntarle al lead:\n  1. Su nombre completo\n  2. Su email\n  3. Qué día quiere reservar la cita\n\n- Si el lead fue calificado como **\"Prioridad baja\"**, dile que, por el momento, la aseguradora no dispone de ningún plan que se adapte a sus necesidades e invítalo a visitar la página web para ver los planes disponibles.\n\n\n**IMPORTANTE: nunca le digas al lead frases como \"Eres un lead con alta prioridad\" o \"no eres un lead calificado\". Nunca menciones la respuesta que te devuelve la herramienta \"guardar_respuestas\". Sencillamente indícale al lead cuál es el siguiente paso que debe seguir**.\n\n  - No propongas una visita, llamada o videollamada sin haber realizado antes el proceso de cualificación.\n\n\n# Notas\n\n  - **Nunca agendes una visita, llamada o videollamada sin haber hecho antes las preguntas de cualificación**.\n  - Cuando le hagas las preguntas de cualificación al lead, **NO envíes todas las preguntas en un mismo mensaje**.\n  - **NUNCA** termines tus mensajes con frases como \"Si tienes interés en alguno de estos modelos o deseas información adicional, no dudes en decírmelo.\" o similares.\n  - **IMPORTANTE: Nunca consultes las disponibilidad del calendario ni agendes una visita, llamada o videollamada para los días Sábado o Domingo**. Si el lead no especificó un día en concreto, consulta la disponibilidad del **Lunes de la semana siguiente**.\n  - Recuerda que **nunca debes mencionar la respuesta que dió el lead a las preguntas de cualificación**. Una vez que responda, tu siguiente mensaje debe contener **únicamente** la pregunta correspondiente.\n  - **IMPORTANTE: Si ya le realizaste las preguntas de cualificación, NUNCA le vuelvas a hacer esas preguntas**."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1500,200],"id":"4a7c3753-01c0-4892-9720-092823439d77","name":"AI Agent1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c722cfec-cc19-43f0-804f-5ce50bacff2b","leftValue":"={{ $('Generador de respuestas').item.json.output.response.parte2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,400],"id":"1ed19e68-4725-479a-a4a8-2efc0f15b54c","name":"If5"},{"parameters":{"name":"guardar_respuestas","description":"Utiliza ésta herramienta cuando termines de cualificar al lead, para almacenar la información de **todas** las respuestas que te dió.","workflowId":{"__rl":true,"value":"yyYTSvV6SqMFdGhJ","mode":"list","cachedResultName":"Qualifier Agente Youtube"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Teléfono":"=2916424279","Fecha_contactado":"={{ $now.format('DD') }}"},"matchingColumns":[],"schema":[{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Fecha_contactado","displayName":"Fecha_contactado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-1180,480],"id":"9d53f085-1cda-412a-a08f-9cbb2b8b19fd","name":"guardar_respuestas"},{"parameters":{"name":"aviso_representante","description":"Utiliza esta herramienta para avisar al representante y comunicarle la situación.","workflowId":{"__rl":true,"value":"YwxoybOZ3lqG3VVl","mode":"list","cachedResultName":"Youtube - Aviso a Sales Rep."},"workflowInputs":{"mappingMode":"defineBelow","value":{"Teléfono":"542916424279","horario_a_llamar":"={{ $fromAI(\"horario_para_llamar_al_lead\", \"El horario en que indicó el lead que quiere que lo llamen. Puede ser 'Ahora mismo' o un horario específico\", \"string\") }}"},"matchingColumns":[],"schema":[{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"horario_a_llamar","displayName":"horario_a_llamar","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-1300,520],"id":"5d066e6b-6d70-4a5e-988b-156dba2a5f94","name":"aviso_representante"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1680,500],"id":"b0c2c66b-03de-4582-94ab-8f4252bd1dcf","name":"Postgres Chat Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7ab848d-0479-4b05-82f0-00375ae469e2","leftValue":"={{ $json.data.last().Mensaje }}","rightValue":"={{ $('Input').item.json.input }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2620,200],"id":"6912b811-f310-48b9-8301-01925b733076","name":"If"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appg5XX0oHvMKCmb2","mode":"list","cachedResultName":"Agente Seguros Automóvil","cachedResultUrl":"https://airtable.com/appg5XX0oHvMKCmb2"},"table":{"__rl":true,"value":"tblj5RN358Sw3UYpF","mode":"list","cachedResultName":"Imágenes","cachedResultUrl":"https://airtable.com/appg5XX0oHvMKCmb2/tblj5RN358Sw3UYpF"},"columns":{"mappingMode":"defineBelow","value":{"Teléfono":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","Imagen":"={{ $json.webViewLink }}"},"matchingColumns":[],"schema":[{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-3900,520],"id":"d924fa2e-c3ce-4b52-80ed-70b0fdf66ad8","name":"Airtable"},{"parameters":{"name":"=Imagen Vehículo {{ $('Webhook').item.json.body.data.key.remoteJid }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1AieXJUmfssAHzxf50pYXj-9tO_qikSj7","mode":"list","cachedResultName":"RAG Youtube","cachedResultUrl":"https://drive.google.com/drive/folders/1AieXJUmfssAHzxf50pYXj-9tO_qikSj7"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4100,520],"id":"24360b92-d015-44c5-bdef-6381ef66e140","name":"Google Drive"}],"connections":{"Webhook":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Input","type":"main","index":0}]]},"Texto":{"main":[[{"node":"Input","type":"main","index":0}]]},"Convertir Audio":{"main":[[{"node":"Transcribir Audio","type":"main","index":0}]]},"Transcribir Audio":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Texto","type":"main","index":0}],[{"node":"Texto","type":"main","index":0}],[{"node":"Texto","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Convertir Imagen1":{"main":[[{"node":"Analizar Imagen","type":"main","index":0},{"node":"Google Drive","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convertir Imagen1","type":"main","index":0}]]},"Input":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Analizar Imagen":{"main":[[{"node":"Imagen","type":"main","index":0}]]},"Imagen":{"main":[[{"node":"Input","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Convertir Audio","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Tiempo de Espera1","type":"main","index":0}]]},"Tiempo de Espera1":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Generador de respuestas","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"4o Verificador":{"ai_languageModel":[[{"node":"Generador de respuestas","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Wait 2":{"main":[[{"node":"Enviar Parte 2","type":"main","index":0}]]},"If Parte 3":{"main":[[{"node":"Wait 3","type":"main","index":0},{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Enviar Parte 3":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Enviar Parte 1":{"main":[[{"node":"If5","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"Enviar Parte 2":{"main":[[{"node":"If Parte 3","type":"main","index":0}]]},"Wait 3":{"main":[[{"node":"Enviar Parte 3","type":"main","index":0}]]},"on_error":{"main":[[{"node":"Generador de respuestas","type":"main","index":0}]]},"Generador de respuestas":{"main":[[{"node":"Enviar Parte 1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"agendar":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"pregunta_no_resuelta":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"preguntas_frecuentes":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Generador de respuestas","type":"main","index":0}]]},"If5":{"main":[[{"node":"Wait 2","type":"main","index":0}],[{"node":"If Parte 3","type":"main","index":0}]]},"guardar_respuestas":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"aviso_representante":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Airtable","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1d8c1445-4f5d-4cb1-8ed6-0c06eceb91c9","triggerCount":0,"tags":[{"createdAt":"2025-04-02T17:15:42.590Z","updatedAt":"2025-04-02T17:15:42.590Z","id":"PUki0swAMq2GiTep","name":"Youtube"}]}