n8n/backup/workflows/lwdc-agente_agendamiento-kZOvKkcb3mRYcI9v.json
{"createdAt":"2025-04-02T17:17:36.091Z","updatedAt":"2025-04-02T17:18:17.000Z","id":"kZOvKkcb3mRYcI9v","name":"LWDC-Agente_Agendamiento","active":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Acción\": \"Consultar disponibilidad\",\n  \"Fecha\": \"2025-01-22T12:00:00.000Z\",\n  \"nombre_cliente\": \"Juan Ramírez\",\n  \"email_cliente\": \"juanramirez@example.com\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"0b0a51d4-a9a8-458e-97c7-11ad058548b3","name":"Workflow Input Trigger"},{"parameters":{"promptType":"define","text":"=Acción: {{ $('Workflow Input Trigger').item.json.Acción }},\nCalendario: {{ $('Workflow Input Trigger').item.json.Calendario }},\nFecha: {{ $('Workflow Input Trigger').item.json.Fecha }},\nNombre Cliente: {{ $('Workflow Input Trigger').item.json.nombre_cliente }},\nEmail Cliente: {{ $('Workflow Input Trigger').item.json.email_cliente }}","options":{"systemMessage":"=# Rol\nEres un empleado de una empresa de seguros para vehículos. \nTe dedicas a gestionar calendario de la empresa para que los leads agenden visitas a las oficinas.\nSi realizas bien tu tarea, se te pagará uno de los mejores sueldos del país.\nSi la realizas mal, no le voy a poder pagar el tratamiento médico a mi hija con una enfermedad terminal.\n\n# Tarea\n\nTus tareas son:\n\n1. Mostrar la disponibilidad de los calendarios de la empresa, en el día indicado, para que los leads puedan agendar una visita.\n\n2. Agendar las visitas en el calendario\n# Especificaciones\n\nEl campo \"Acción\" indica si debes consultar la disponibilidad del calendario o agendar un evento en el calendario.\n  - Si el campo \"Acción\" tiene el valor \"Consultar disponibilidad\", utiliza la herramienta \"obtener_disponibilidad\" para obtener la disponibilidad del calendario.\n  - Si el campo \"Acción\" tiene el valor \"Agendar\", utiliza la herramienta \"agendar_evento\" para agendar un evento en la fecha y hora que el cliente haya seleccionado.\n\n# Notas\n\n**La fecha y hora de hoy es: {{ $now }}**\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[240,0],"id":"cc966a0d-6606-4e7f-b79c-57d6261e631d","name":"AI Agent"},{"parameters":{"model":"gpt-4o","options":{"temperature":0,"topP":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[60,240],"id":"bfe459d6-609b-4451-8d45-63be60b23ac0","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"12456"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[280,240],"id":"b0d7ac21-c23f-433b-8fb0-0c8300eecb9c","name":"Window Buffer Memory"},{"parameters":{"toolDescription":"Utiliza ésta herramienta para obtener la disponibilidad del calendario indicado.","url":"https://api.cal.com/v2/slots/available","sendQuery":true,"parametersQuery":{"values":[{"name":"startTime","valueProvider":"fieldValue","value":"{startTime}"},{"name":"endTime","valueProvider":"fieldValue","value":"{endTime}"},{"name":"eventTypeId","valueProvider":"fieldValue","value":"1747749"},{"name":"timeZone","valueProvider":"fieldValue","value":"America/Argentina/Buenos_Aires"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"="}]},"placeholderDefinitions":{"values":[{"name":"startTime","description":"=El día del que se quiere saber la disponibilidad (timestamp).\nLa hora **siempre será las 12:00**, siguiendo el formato de ejemplo.\n**Formato de Ejemplo: 2025-01-01T12:00:00.000Z**","type":"string"},{"name":"endTime","description":"=El día del que se quiere saber la disponibilidad (timestamp).\nLa hora **siempre será las 20:00**, siguiendo el formato de ejemplo.\n**Formato de Ejemplo: 2025-01-01T20:00:00.000Z**","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[440,240],"id":"5e6eb7f1-f670-4c9a-885e-5bd1ebb411e3","name":"obtener_disponibilidad"},{"parameters":{"toolDescription":"Utiliza ésta herramienta para agendar un evento en la fecha y hora que el cliente haya seleccionado.","method":"POST","url":"https://api.cal.com/v2/bookings","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"="},{"name":"cal-api-version","valueProvider":"fieldValue","value":"2024-08-13"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"start\": \"{fecha_inicio}\",\n  \"eventTypeId\": 1747749,\n  \"attendee\": {\n    \"name\": \"{nombre_cliente}\",\n    \"timeZone\": \"America/Argentina/Buenos_Aires\",\n    \"email\": \"{email_cliente}\"\n  },\n  \"location\": \"Llamada Telefónica\"\n}","placeholderDefinitions":{"values":[{"name":"nombre_cliente","description":"=El nombre del cliente","type":"string"},{"name":"email_cliente","description":"El email del cliente","type":"string"},{"name":"fecha_inicio","description":"=La fecha y hora que seleccionó el cliente para agendar el evento, en formato ISO-8601 y UTC-03, siguiendo el siguiente formato de ejemplo: \"2025-01-01T00:00:00.000-03:00\"","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[600,240],"id":"de15dd49-b915-4613-9d50-800680345aec","name":"agendar_evento"}],"connections":{"Workflow Input Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"obtener_disponibilidad":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"agendar_evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8a1f8b88-cafb-45c7-90f4-9fd87cd26bfe","triggerCount":0,"tags":[{"createdAt":"2025-04-02T17:15:42.590Z","updatedAt":"2025-04-02T17:15:42.590Z","id":"PUki0swAMq2GiTep","name":"Youtube"}]}