n8n/backup/workflows/my-workflow-8oirskPabG4b0aZz.json
{"createdAt":"2025-03-05T10:59:34.486Z","updatedAt":"2025-03-05T10:59:34.486Z","id":"8oirskPabG4b0aZz","name":"My workflow","active":false,"nodes":[{"parameters":{"path":"6f7b288e-1efe-4504-a6fd-660931327269","responseMode":"responseNode","options":{}},"id":"2a937294-74b9-419b-b996-4eea3d77969c","name":"Webhook","type":"n8n-nodes-base.webhook","position":[20,140],"webhookId":"6f7b288e-1efe-4504-a6fd-660931327269","typeVersion":1},{"parameters":{"content":"## Create a simple API endpoint\n\nIn this workflow we show how to create a simple API endpoint with `Webhook` and `Respond to Webhook` nodes\n\n","height":280,"width":600},"id":"40087d2f-b876-4b29-9260-180a02cd6fc0","name":"Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"respondWith":"text","responseBody":"=The URL of the Google search query for the term \"{{$node[\"Webhook\"].json[\"query\"][\"first_name\"]}} {{$node[\"Webhook\"].json[\"query\"][\"last_name\"]}}\" is: {{$json[\"product\"]}}","options":{}},"id":"3bb8f965-b5a3-4006-a052-adc467eb5096","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[460,140],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"product","value":"=https://www.google.com/search?q={{$json[\"query\"][\"first_name\"]}}+{{$json[\"query\"][\"last_name\"]}}"}]},"options":{}},"id":"c8133b0f-1ad9-4447-8705-8eabad5cf3d5","name":"Create URL string","type":"n8n-nodes-base.set","position":[240,140],"typeVersion":1},{"parameters":{"content":"### How to use it\n1. Execute the workflow so that the webhook starts listening\n2. Make a test request by pasting, **in a new browser tab**, the test URL from the `Webhook` node and appending the following test at the end `?first_name=bob&last_name=dylan`\n\nYou will receive the following output in the new tab `The URL of the Google search query for the term \"bob dylan\" is: https://www.google.com/search?q=bob+dylan`\n\n","height":220,"width":600},"id":"2e924afe-cead-4b2d-8ddf-0cd39d61e1a1","name":"Note3","type":"n8n-nodes-base.stickyNote","position":[0,300],"typeVersion":1}],"connections":{"Webhook":{"main":[[{"node":"Create URL string","type":"main","index":0}]]},"Create URL string":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1dff8929-25be-4267-af5e-5cae47e6128b","triggerCount":0,"tags":[]}