n8n/backup/workflows/prueba-de-registros-oo4piGCafFPoCtfZ.json
{"createdAt":"2025-03-28T16:29:19.093Z","updatedAt":"2025-03-28T17:44:17.000Z","id":"oo4piGCafFPoCtfZ","name":"Prueba de registros","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"14a09794-5e02-4880-b33d-139a91726dda","name":"Once Per Day","type":"n8n-nodes-base.scheduleTrigger","position":[-600,1220],"typeVersion":1.2},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1cjd8p_yx-M-3gWLEd5TargtoB35cW-3y66AOTNMQrrM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cjd8p_yx-M-3gWLEd5TargtoB35cW-3y66AOTNMQrrM/edit?usp=drivesdk","cachedResultName":"Sheet Template"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cjd8p_yx-M-3gWLEd5TargtoB35cW-3y66AOTNMQrrM/edit#gid=0","cachedResultName":"Sheet1"},"filtersUI":{"values":[{"lookupColumn":"production","lookupValue":"for production"}]},"options":{"returnFirstMatch":true}},"id":"4de1f1c7-52ad-4e00-ad22-b4c3c0f718d8","name":"Load Google Sheet","type":"n8n-nodes-base.googleSheets","position":[-180,1200],"typeVersion":4.5,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"xnYgm7FtRcC3YeQI","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"// Get the text directly from the OpenAI response\nconst text = $input.first().json.choices[0].message.content;\n\n// Split the text on literal '\\\\n', trim, and filter empty lines\nconst lines = text.split('\\\\n').map(line => line.trim()).filter(line => line !== '');\n\n// Create an array of items for n8n\nconst items = lines.map(line => ({\n  json: {\n    response: { text: line }\n  }\n}));\n\n// Return the array of items\nreturn items;"},"id":"e5c83690-1696-43aa-a0db-164ca128dd67","name":"Create List","type":"n8n-nodes-base.code","position":[260,1180],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"35659353-d8e2-4677-876b-401b549605a0","name":"Fecha","type":"string","value":""},{"id":"c4927dd6-c597-48fe-b7c1-bbffcf5ff02f","name":"ElevenLabs API Key","type":"string","value":""},{"id":"f5e90c05-dd24-4918-9005-4c87a4fb344d","name":"Creatomate API Key","type":"string","value":""},{"id":"d0ebba50-5a99-4090-adcb-d18aa0b21be2","name":"Creatomate Template ID","type":"string","value":""}]},"options":{}},"id":"62423325-f9da-4cdf-8864-c011fb4fa14f","name":"Set API Keys","type":"n8n-nodes-base.set","position":[-380,1220],"notesInFlow":true,"typeVersion":3.4,"notes":"SET BEFORE STARTING"},{"parameters":{"content":"## REGISTRO DE FECHAS\n","height":220,"width":220,"color":3},"id":"4252d793-5f16-4d5e-bb78-9b155aef5d3e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-440,1140],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2681c0e9-aa45-4f0f-8933-6e6de324c7aa","operator":{"type":"array","operation":"lengthGt","rightType":"number"},"leftValue":"={{$input.all()}}","rightValue":1}]},"options":{}},"id":"845d5b4a-8a3f-4d0d-afce-39aa4e349a7b","name":"Validate list formatting","type":"n8n-nodes-base.if","position":[500,1200],"typeVersion":2.2}],"connections":{"Create List":{"main":[[{"node":"Validate list formatting","type":"main","index":0}]]},"Once Per Day":{"main":[[{"node":"Set API Keys","type":"main","index":0}]]},"Set API Keys":{"main":[[{"node":"Load Google Sheet","type":"main","index":0}]]},"Load Google Sheet":{"main":[[{"node":"Create List","type":"main","index":0}]]},"Validate list formatting":{"main":[[{"node":"Pair Videos with Audio","type":"main","index":1}],[{"node":"Create List","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"3121","templateCredsSetupCompleted":true},"pinData":{},"versionId":"99971a31-7113-4c99-ac2d-0a2d6cee9540","triggerCount":0,"tags":[]}