n8n/backup/workflows/test-bot-jI50S4paWyzU3gvI.json
{"createdAt":"2025-03-29T18:02:37.262Z","updatedAt":"2025-03-30T15:59:33.000Z","id":"jI50S4paWyzU3gvI","name":"Whatsaap/TEST-Bot","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"prueba-yt","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"96529e10-2f83-489b-8e01-fde1da69ae4c","name":"Webhook","webhookId":"38bf6675-ed82-4c0d-8559-8e554463214a"},{"parameters":{"promptType":"define","text":"=hola,  {{ $json.body.inputs.pushName }} en que te puedo ayudar hoy","options":{"systemMessage":"Eres un asustnte de ventas"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,0],"id":"095edd0b-1770-4648-92d5-5e3d97dbbbdc","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[120,260],"id":"722b953e-ed82-4ed0-ab88-0cb7c49161cc","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"gxvwrbUES5rUcbiQ","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"respondWith":"json","responseBody":"{\n    \"message\": \"gracias por preferirnos\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,0],"id":"4aa9e018-00f0-4057-805d-ff829b379106","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.inputs.sessionId }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[320,220],"id":"7af77aee-39b5-4dce-b732-5ccdb25e4ffb","name":"Window Buffer Memory"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"684f7e46-d063-4774-b1d8-778db372a0ff","triggerCount":1,"tags":[]}