n8n/backup/workflows/whatsapp-evolution-api-ClccU1GaEgCJEFAm.json
{"createdAt":"2025-03-31T19:54:02.991Z","updatedAt":"2025-04-02T10:04:12.000Z","id":"ClccU1GaEgCJEFAm","name":"Whatsapp-Evolution-API","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsaap","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-460,-120],"id":"db48e298-dcae-4642-88d2-49b82189da58","name":"Webhook","webhookId":"fd4e935c-f4a2-428d-860d-26a85a3da136"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1ZL6n1nFHKV7ezI48jHWsGFfyUYB3x5hdqhhicSGqqCw/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZL6n1nFHKV7ezI48jHWsGFfyUYB3x5hdqhhicSGqqCw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"MENSAJE":"={{ $json.executionMode }}","CORREO":"POR CONFIGURAR","USUARIO":"={{ $json.body.data.id }}","FECHA":"={{ $json.body.date_time }}","NUMERO ENVIADO":"={{ $json.body.sender }}"},"matchingColumns":["USUARIO"],"schema":[{"id":"USUARIO","displayName":"USUARIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FECHA","displayName":"FECHA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORREO","displayName":"CORREO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"INTERES","displayName":"INTERES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSAJE","displayName":"MENSAJE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NUMERO ENVIADO","displayName":"NUMERO ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[300,-180],"id":"4a68b6dd-1a1a-466f-82ff-f47394f0aa43","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"xnYgm7FtRcC3YeQI","name":"Google Sheets account 2"}}},{"parameters":{"promptType":"define","text":"=El usuario necesita informaci贸n sobre: {{ $('Webhook').item.json.executionMode }}","options":{"systemMessage":"=## Rol\nEres Pepito, un experto en colchones y descanso de cama en Real de Santa Cruz de Mudela. Tu objetivo es asesorar y guiar a los clientes en la compra de colchones, garantizando una experiencia amigable y efectiva.\n\n## Tarea\nResponde a las preguntas o comentarios del usuario utilizando informaci贸n actualizada de Google Docs para verificar promociones, disponibilidad, precios y nombres de productos. Mant茅n un tono cercano, amigable y profesional, utilizando emojis de forma ocasional para hacer la conversaci贸n m谩s amena.\n\n## Saludo inicial\n\"隆Hola!  Soy Pepito de La Web del Colch贸n. 驴Con qui茅n tengo el gusto?\"\n\n## Identificar la necesidad del cliente\n\"Cu茅ntame, 驴en qu茅 puedo ayudarte hoy?\"\n\n## Recolecci贸n de informaci贸n para recomendar un colch贸n\n\"Para recomendarte el mejor colch贸n, necesito un poco m谩s de informaci贸n. Responde a estas preguntas y te ayudar茅 a encontrar el perfecto:\"\n\n驴Qu茅 tipo de descanso prefieres (firme, suave, medio)?\n\n驴Cu谩l es tu presupuesto aproximado?\n\n驴Para qu茅 tama帽o de cama lo necesitas?\n\n驴Tienes alguna preferencia en cuanto a materiales (espuma, l谩tex, resortes, etc.)?\n\n## Proporcionar informaci贸n relevante\nResponde a sus preguntas con datos precisos.\n\n## Destaca beneficios de los productos seg煤n la lista en Google Sheets.\n\n## Recomienda opciones basadas en las respuestas del cliente.\n\n## Intenta llevar la conversaci贸n hacia la compra de manera natural.\n\n## Aclarar dudas y resaltar beneficios\nExplica caracter铆sticas clave del producto.\n\n## Resalta ventajas como durabilidad, ergonom铆a y garant铆a.\n\n## Ofrece comparaciones si el cliente tiene dudas entre varios modelos.\n\n## Verificar pago y ubicaci贸n\nPregunta c贸mo desea pagar.\n\n## Consulta su ubicaci贸n para coordinar la entrega.\n\n## Confirmar entrega o retiro\n\"驴Prefieres retiro en tienda o env铆o a domicilio?\"\n\n## Compartir ubicaci贸n de la tienda\nProporciona una referencia sin direcci贸n exacta.\n\n## Solicitar datos de contacto\nNombre\n\nTel茅fono\n\nCorreo electr贸nico\n\n## Confirmar pago\n\"Una vez realizado el pago, por favor adjunta una captura de pago para procesar tu pedido.\"\n\n## Agradecer la compra\n\"隆Gracias por tu compra!  Estamos seguros de que amar谩s tu nuevo colch贸n.\"\n\n## Confirmaci贸n de seguimiento\n\"Te enviaremos un correo con la facturaci贸n y el seguimiento de tu pedido.\"\n\n## Cierre y consulta final\n\"驴Puedo ayudarte en algo m谩s?\" \n\nLa Fechas y la hora es: {{$now}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[480,0],"id":"d79903d9-10dd-4de2-8e9f-826a0127bc71","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[460,260],"id":"130d2f93-17a9-4bc6-ac58-3e7d75d213d2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"gxvwrbUES5rUcbiQ","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.data.id }}","contextWindowLength":500},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[620,280],"id":"324567d8-45b7-46d2-a0db-6f8853495dfd","name":"Window Buffer Memory"},{"parameters":{"method":"POST","url":"https://9023-192-157-238-58.ngrok-free.app/","sendQuery":true,"queryParameters":{"parameters":[{"name":"ws-peru","value":"D1ED8EEB8BB9-4CD8-A4A0-2AE2D9202465"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,0],"id":"c5b06d0a-0e81-484d-a555-160527e6f274","name":"Enviar texto"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"$input.first().json.output"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,160],"id":"f8ff50bd-4a6a-4bcd-a077-c1b157fd5e98","name":"Code","disabled":true},{"parameters":{"method":"POST","url":"https://2c60-192-157-238-58.ngrok-free.app/message/sendText/Whatsaap PERU","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"644CD5696D07-462F-926B-EAD929FC4D58"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n\"remoteJid\": \"{{ $json.key.remotejid }}\",\n\"status\": \"closed\"","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,0],"id":"edce2db1-4334-4872-ad48-90ad3583da9d","name":"cerrar secion"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"apphY9QRV5wZefvRJ","mode":"list","cachedResultName":"Registros n8n","cachedResultUrl":"https://airtable.com/apphY9QRV5wZefvRJ"},"table":{"__rl":true,"value":"tblnCvVK8EkarEEeE","mode":"list","cachedResultName":"Whatsaap","cachedResultUrl":"https://airtable.com/apphY9QRV5wZefvRJ/tblnCvVK8EkarEEeE"},"columns":{"mappingMode":"defineBelow","value":{"ID Cliente":"={{ $json.body.data.id }}","Mensaje":"={{ $json.executionMode }}","Estado":"Todo","Recibido":"={{ $json.body.sender }}","Fecha":"={{ $json.body.date_time }}","Telefono":"={{ $json.body.data.id }}","Nombre":"={{ $json.body.apikey }}"},"matchingColumns":[],"schema":[{"id":"ID Cliente","displayName":"ID Cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Recibido","displayName":"Recibido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[160,140],"id":"d911a6fd-dac9-454d-89d3-2656507173b5","name":"Airtable","credentials":{"airtableTokenApi":{"id":"rIvW9DoJXAvoVZ79","name":"Airtable Personal Access Token account 2"}}}],"connections":{"Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"Airtable","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[]]},"Enviar texto":{"main":[[{"node":"cerrar secion","type":"main","index":0}]]},"Code":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c712402f-8c17-4347-87e9-82820751a1ac","triggerCount":1,"tags":[]}