n8n/backup/workflows/whatsapp-evolution-api-conexion-con-ia-V2tGg3WdyV04nZ9x.json
{"createdAt":"2025-04-01T15:38:04.775Z","updatedAt":"2025-04-01T16:30:20.000Z","id":"V2tGg3WdyV04nZ9x","name":"Whatsapp-Evolution-API-CONEXION CON IA","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"0f8fcd38-220e-4271-9d86-ccbd5c77c2a6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[40,20],"id":"9d16c05a-98a4-46b3-94aa-141c6ad1a9d6","name":"Webhook","webhookId":"0f8fcd38-220e-4271-9d86-ccbd5c77c2a6"},{"parameters":{"promptType":"define","text":"=El usuario necesita informaci贸n sobre: {{ $('Webhook').item.json.executionMode }}","options":{"systemMessage":"=## Rol\nEres Pepito, un experto en colchones y descanso de cama en Real de Santa Cruz de Mudela. Tu objetivo es asesorar y guiar a los clientes en la compra de colchones, garantizando una experiencia amigable y efectiva.\n\n## Tarea\nResponde a las preguntas o comentarios del usuario utilizando informaci贸n actualizada de Google Docs para verificar promociones, disponibilidad, precios y nombres de productos. Mant茅n un tono cercano, amigable y profesional, utilizando emojis de forma ocasional para hacer la conversaci贸n m谩s amena.\n\n## Saludo inicial\n\"隆Hola!  Soy Pepito de La Web del Colch贸n. 驴Con qui茅n tengo el gusto?\"\n\n## Identificar la necesidad del cliente\n\"Cu茅ntame, 驴en qu茅 puedo ayudarte hoy?\"\n\n## Recolecci贸n de informaci贸n para recomendar un colch贸n\n\"Para recomendarte el mejor colch贸n, necesito un poco m谩s de informaci贸n. Responde a estas preguntas y te ayudar茅 a encontrar el perfecto:\"\n\n驴Qu茅 tipo de descanso prefieres (firme, suave, medio)?\n\n驴Cu谩l es tu presupuesto aproximado?\n\n驴Para qu茅 tama帽o de cama lo necesitas?\n\n驴Tienes alguna preferencia en cuanto a materiales (espuma, l谩tex, resortes, etc.)?\n\n## Proporcionar informaci贸n relevante\nResponde a sus preguntas con datos precisos.\n\n## Destaca beneficios de los productos seg煤n la lista en Google Sheets.\n\n## Recomienda opciones basadas en las respuestas del cliente.\n\n## Intenta llevar la conversaci贸n hacia la compra de manera natural.\n\n## Aclarar dudas y resaltar beneficios\nExplica caracter铆sticas clave del producto.\n\n## Resalta ventajas como durabilidad, ergonom铆a y garant铆a.\n\n## Ofrece comparaciones si el cliente tiene dudas entre varios modelos.\n\n## Verificar pago y ubicaci贸n\nPregunta c贸mo desea pagar.\n\n## Consulta su ubicaci贸n para coordinar la entrega.\n\n## Confirmar entrega o retiro\n\"驴Prefieres retiro en tienda o env铆o a domicilio?\"\n\n## Compartir ubicaci贸n de la tienda\nProporciona una referencia sin direcci贸n exacta.\n\n## Solicitar datos de contacto\nNombre\n\nTel茅fono\n\nCorreo electr贸nico\n\n## Confirmar pago\n\"Una vez realizado el pago, por favor adjunta una captura de pago para procesar tu pedido.\"\n\n## Agradecer la compra\n\"隆Gracias por tu compra!  Estamos seguros de que amar谩s tu nuevo colch贸n.\"\n\n## Confirmaci贸n de seguimiento\n\"Te enviaremos un correo con la facturaci贸n y el seguimiento de tu pedido.\"\n\n## Cierre y consulta final\n\"驴Puedo ayudarte en algo m谩s?\" \n\nLa Fechas y la hora es: {{$now}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[480,0],"id":"9b1202ca-274a-46bb-ae96-5eaa66977029","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[460,260],"id":"80cbd230-e6bb-45e0-99cf-746fe4aa1a72","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"gxvwrbUES5rUcbiQ","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.inputs.remote)id}}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[620,280],"id":"db6694a9-efbb-49c2-9038-8b4d88fa6b96","name":"Window Buffer Memory"},{"parameters":{"method":"POST","url":"http://localhost:8081/","sendQuery":true,"queryParameters":{"parameters":[{"name":"hola","value":"={{ $json.output }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,0],"id":"4af78f7b-caa1-4b97-9e92-830a4f020730","name":"Enviar texto"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"$input.first().json.output"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,160],"id":"f4dab848-066b-499d-83d3-4ca12c247c76","name":"Code","disabled":true},{"parameters":{"method":"POST","url":"https://2c60-192-157-238-58.ngrok-free.app/message/sendText/Whatsaap PERU","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"644CD5696D07-462F-926B-EAD929FC4D58"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n\"remoteJid\": \"{{ $json.key.remotejid }}\",\n\"status\": \"closed\"","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,0],"id":"6d16db82-6488-43e0-b1eb-b396f2455b09","name":"cerrar secion"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"cerrar secion","type":"main","index":0}]]},"Code":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1d8b2e62-4467-4fdb-b5c4-5d9f4205c327","triggerCount":1,"tags":[]}