n8n/backup/workflows/yt-scraper-maTZjAbYOhT6QduW.json
{"createdAt":"2025-04-02T17:24:56.703Z","updatedAt":"2025-04-02T18:26:51.000Z","id":"maTZjAbYOhT6QduW","name":"YT-SCRAPER","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"6335e3ee-f7a7-43d9-a3b1-957c5e42ac0a","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/runs?token=apify_api_daYfNNLVpJxubTWWIVYbXZ00Rxy66S485dnA","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"dateFilter\": \"week\",\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 10,\n    \"maxResultsShorts\": 0,\n    \"oldestPostDate\": \"2025-01-01\",\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"scrapeLastNDays\": 15,\n    \"searchQueries\": [\n        \"Dormitorios\",\n        \"Camas\",\n        \"Cabeceros\"\n    ],\n    \"sortVideosBy\": \"POPULAR\",\n    \"sortingOrder\": \"rating\",\n    \"subtitlesLanguage\": \"es\",\n    \"videoType\": \"video\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"016fdf4c-3a1d-459d-80aa-ea59374c0f93","name":"Run Actor","credentials":{"httpHeaderAuth":{"id":"LKZbQ1WsBu2CSLXs","name":"Header Auth account"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"60"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"bf29b6c8-0ac2-49be-bbc4-35147e5513ad","name":"GET ACTOR","credentials":{"httpHeaderAuth":{"id":"LKZbQ1WsBu2CSLXs","name":"Header Auth account"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,0],"id":"b5f79217-a704-4ca3-b3de-5262dd7863b9","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"LKZbQ1WsBu2CSLXs","name":"Header Auth account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1CyYVwG6UHUP0CiCxQoKvlcIt23Di8eEdGPhaOSEtSeA/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Youtube Scraper","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CyYVwG6UHUP0CiCxQoKvlcIt23Di8eEdGPhaOSEtSeA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Titulo":"={{ $json.title }}","URL":"={{ $json.url }}","Views":"={{ $json.viewCount }}","Fecha":"={{ $json.date }}","Likes":"={{ $json.likes }}","Nombre de canal":"={{ $json.channelName }}","Canal URL":"={{ $json.channelUrl }}","Total Subs":"={{ $json.numberOfSubscribers }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre de canal","displayName":"Nombre de canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Canal URL","displayName":"Canal URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Subs","displayName":"Total Subs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,0],"id":"4e3c801c-2f62-4f79-a927-d7ca4588e0b2","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"Dnjn0e1RzMkNRrnn","name":"Google Sheets Gmultiusuario1"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Run Actor","type":"main","index":0}]]},"Run Actor":{"main":[[{"node":"GET ACTOR","type":"main","index":0}]]},"GET ACTOR":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2028308a-527b-4b4c-a953-3d93f4fec699","triggerCount":0,"tags":[]}